#bloqueoWidget {
	background: #000000;
	height: 100%;
	opacity: 0.8;
	width: 100%;
	/*display  none*/
}
.bloqueoElement { display: none; position: absolute; z-index: 1000; }
#elementBloqueo {
	background: #E2DFDF;
	box-shadow: 0 0 15px black;
	left: 25%;
	overflow: hidden;
	padding: 10px;
	width: auto;
}
#elementBloqueo .btnaceptar { width: 155px; }
#elementBloqueo .btnaceptar:last-child { margin-left: 15px; }



/*BLOQUEO DE TOKEN*/

#tokenInput {
	background: #EFEFEF;
	height: 90px;
	margin-top: 5px;
	overflow: hidden;
	padding: 10px;
	width: 330px;
}
#tokenInput p { font-weight: bold; }
#tokenInput p, #tokenInput input { margin: 0; }

#tokenInput input[type="text"] { background: white; border: 1px solid #ccc; height: 25px; }
/* FIN BLOQUEO DE TOKEN*/

.bold{
	font-weight: bold;
}

/*BLOQUEO DE CORREO Y TELEFONO*/
.imgEditar{
	background-image: url('../img/assets/correo.png');
	background-size: 100% 100%;
	width: 395px;
	height: 65px;
}

.datosCorreo{
	font-size: 11px;
	float: left;
	margin-top: 10px;
	margin-left: 68px;
}

.datosEdicion{
	background-color: blue;
	float:left;
	width: 375px;
	height: 130px;
}




/*FIN BLOQUEO DE CORREO Y TELEFONO*/