/*//////////////// SWITCHES /////////////////////////*/

.onoffswitch {
position: relative; width: 90px;
-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
display: none;
}
.onoffswitch-label {
display: block; overflow: hidden; cursor: pointer;
border: 2px solid #66666; border-radius: 5px;
border: 2px solid #505050;
}
.onoffswitch-inner {
width: 200%; margin-left: -100%;
-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in  0s;
-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
font-size: 16px; color: white; font-family: Helvetica,Arial, sans-serif; font-weight: bold;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
content: "SI";
padding-left: 10px;
background-color: #185241; color:#FFFFFF;
}
.onoffswitch-inner:after {
content: "NO";
padding-right: 10px;
background-color: #F8F8F8; color: #666666;
text-align: right;
}
.onoffswitch-switch {
width: 40px; margin: 0px;
background: #FFFFFF;
border: 2px solid #666666; border-radius: 5px;
position: absolute; top: 0; bottom: 0; right: 46px;
-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0)));
background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
right: 0px;
}

/* PENDIENTE : SWITCH PARA 3 TAMAÃ‘OS - small , medium y large;
/*Switch button -- palabras cortas (Normal)*/
.switch{
	width:130px;
	border:1px #a0a0a0 solid;
	border-radius:5px;
	height:28px;
	float:left;
	overflow:hidden;
}

.on{
	height:23px;
	width:45px;
	background-color:#114E02;
	float:left;
	color:white;
	font-size:medium;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align: center;
	padding-top:5px;
}

.off{
	height:23px;
	width:45px;
	background-color:#FD1B0F;
	float:left;
	color:white;
	font-size:medium;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align: center;
	padding-top:5px;
}
.tope{
	height:28px;
	width:55px;
	background-color:#CCCCCC;
	float:left;
}
/*End switch button normal*/

/*Switch button -- Domiciliaciones*/
.switchDom{
	width:130px;
	border:1px #a0a0a0 solid;
	border-radius:5px;
	height:28px;
	float:left;
	overflow:hidden;
}

.onDom{
	height:23px;
	width:70px;
	/*background-image:url('../lineagrafica/swichbtnon.png');*/
	background-image: url(../img/botones/switch_der.png);
	background-size:200% 100%;
	/*background-size:100% 100%;*/
	float:left;
	color:white;
	font-size:medium;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align: center;
	padding-top:5px;
	cursor:pointer;
}

.offDom 
{
	height:23px;
	width:80px;
	/*background-image:url('../lineagrafica/swichbtnoff.png');*/
	background-image: url(../img/botones/switch_der.png);
	background-size:200% 100%;
	/*background-size:100% 100%;*/
	float:left;
	color:white;
	font-size:medium;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align: center;
	padding-top:5px;
	cursor:pointer
}
.topeDom{
	height:28px;
	width:60px;
	background-color:#CCCCCC;
	float:left;
}
/*End switch button -- Domiciliaciones */


.dropdown{
	width:100%;float:left;
	background-color:#EBEDEE;
	margin-top:10px;
	height:22px;
}
/* Dropdown*/
.downI{
	float:left;
	margin: 1px 5px 0 10px;
}

.upI{
	float:left;
	margin: 1px 5px 0 10px;
	display:none;
}

h6{
	margin:3px 0px 0px 10px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	
}

.btnaceptar:hover{
                cursor:pointer;
                background-image:url('../../lineagrafica/vtabtn.png');
                background-size:100% 100%;
}
.btnaceptar:active{
                background-image:url('../../lineagrafica/widamphdr.png');
                background-size:100% 100%;
}




/**************  LOADING ***************/

.loader {
    text-align: center;    
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: black;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -webkit-transform: translateY(-21px);
  }
}
@-moz-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -moz-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -moz-transform: translateY(-21px);
  }
}




