@font-face
{
font-family: 'ArialBlack';
src: url(fonts/ArialBlack.ttf);
font-weight:bold;
}

section{
	display:none;
}

			*{
				margin: 0;
				font-family: Arial,sans-serif;
			}

			h1,h2,h3,h4,h5{
				font-family: 'ArialBlack';
			}

			h4{
				font-size: 12px;
			}

			.tituloBold{
					font-family: Arial;
					font-weight: normal;
				}

			#absoluteWrapper
			{
				margin:0px auto;
				width:100%;
			}
			#wr_SuperBanner{
				background:no-repeat;
				/*background-image: url(../img/background/bg_2.png);*/
				background-position: center;
				background-size: cover;
			}
			.columnSB{
				width: 255px;
				height:578;
			}

			.wr_NavPrin{
				width: 190px;
				overflow: hidden;
				height: auto;
				margin-right: 0px;
				}

			#titleLogin {
				width: 100%;
				height: 50px;
				background-color: #ff0d37;
				overflow: hidden;
			}
			#loginWrapper{
				background:no-repeat;
				background-image: url(../../img/background/bg_1.png);
				background-position: 0px;
				background-size: cover;
				position:absolute;
				left:0px;
				width:100%;
				height:100%;
			}
			#bottomLogin{
				width: 100%;
				height: 70px;
				position:absolute;
				background-color: #000;
				overflow: hidden;
				bottom:0px;
				z-index:50px;
			}
			.Fleft{
				float:left;
			}
			.Fright{
				float: right;
			}
			
			#wr_PrinHeader{
				width: 100%;height:50px;background-color:#ff0000; overflow:hidden;
			}

			#tipoServ{
				background:#282828;width:190px;height:50px;
			}

			#dataClient{
				max-width: 694px;height:30px;text-align: right; color: white; font-size: 12px;padding:15px 10px;
			}

			#wr_btnNavHeader{
				width:350px;height:50px;float:right;
			}

			#wr_btnNavHeader img{
				/*border-right: 1px ridge #710b1c;
				padding: 5px 10px;
				cursor: pointer;
				float:right;*/
				border-right: 2px groove #FA3535;
         		padding: 5px 5px;
          		cursor: pointer;
          		float:right;
         		background:url(../img/background/gradiente.jpg);
			}

			#wr_btnNavHeader img:last-child{
				border-left: 1px solid #710b1c;
			}

			#wr_PrinNivel1{
				height:530px;width:100%;max-width: 1511px;margin: 0 auto;
			}
			
			#avatarNavPrin{
				width:170px;height:170px;margin:auto;margin-top:10px; text-align: center;
			}

			#wr_NavPrin{
				width:170px;height:210px;margin:auto;background:green;
			}
			
			#wr_btnNav{
				width: 170px;
				overflow: hidden;
				margin: auto;
			
				height: 255px;
				background: #212121;

			}

			#wr_btnNav > ul > li:first
			{
				font-weight:bolder;
			}

			#wr_btnNav ul {
				list-style: none;
				/*background: #efefef;*/
				background: #282828;
				width: 170px;
				margin: auto;
				padding: 0 0 0 0;
				font-size: 12px;			
			}
			
			#wr_btnNav ul li{
				/*background: url(../img/menuLateral/btn_menu.png);*/
				width: 150px;
				height: 20px;
				padding: 10px 10px 0;
				border-bottom: 1px solid #000;
				cursor: pointer; 
				font-size: 11px;
				text-transform: uppercase;
				color:#a4a4a4;
			}

			#wr_btnNav ul li:hover{
				/*background: #e3e3e3;*/
				color:#fff;				
			}

			.activate{
				/*background: #b9b9b9 !important;*/
				border: 1px solid red !important;
				color:#fff !important;
				font-weight: bold;
				padding-left: 25px !important;
				width: 133px !important;
				background: url(../img/iconos/Indicador.png) no-repeat 10px;

			}

			#footer{	
				width:170px;height:125px;margin:auto;font-size:10px;text-align: center;padding-top:40px;border-top:0;background:#212121;
			}
			
			#footer div{
				color:#a4a4a4;
			}

			#footer a{
				text-decoration: none;
				color: white;
			}

			.col1{
				overflow:hidden;width: 245px;height: 578px;
			}

			.col2{
				overflow:hidden;width:502px;height: 578px;
			}



			#cierraSB{
            height: 30px; width: 30px; padding: 5px; position: absolute; right: 10px; top: 10px; cursor: pointer;
		    }

		    #cierraSB2{
		       height: 30px; width: 30px; padding: 5px; position: absolute; right: 10px; top: 10px; cursor: pointer;
		    }

		    #wr_SuperBanner2{
		        position: absolute; right: 15px; bottom: -615px;
		    }



			.altoTotal{
				height:580px;
			}

			.alto2{
				height:285px;
			}

			.medianilIzq{
				margin-left: 10px;
			}

			.medianilTop{
				margin-top: 10px;
			}

			.divTop{
				margin-top: 20px;
			}

			#navContent{
				position:absolute;width:30px;margin-top:-40px;margin-right:2px;
			}
			.btnNavWidget{
				width:30px;height:30px;cursor: pointer;
			}

			.noActiveNav{
				background:url(../img/interfaz/escritorio_bullet.png) no-repeat scroll center center;
			}

			.ActiveNav{
				background:url(../img/interfaz/escritorio_activo.png) no-repeat scroll center center;border:1px solid red;
			}

			#wrappWidgets{
				overflow-y:scroll;width:771px;height:600px;position:static;opacity:0;
			}

			.widget-min
			{
				float:left;
				background-color:#fff;
				/*box-shadow: 1px 1px 3px #888888;
				border:1px solid #b9b9b9;*/
				margin-right:10px;
				margin-top:10px;
				display:inline-table;
				overflow:hidden;
			}

			#wrappWidgets::-webkit-scrollbar   {
				display:none;
			}

			/*


			*/
		#fecha{
    	color:#ffbfbd;
    	}


			.btnHeaderTable{
				height: 24px;
			    margin: -10px;
			    padding-top: 10px;
			    width: 110px;
			}

			.titTabla{
				margin-bottom:0px;
				padding:10px 10px 5px 30px;
				border:1px solid black;
				border-bottom:0;
				float:left;
				width:678px;
				background:#F4F4F4;
				margin-top:20px;
				height:20px;
				font-weight:bold
			}

			.titTabla p{
				float:left;
			}

			.titTabla img{
				float:right;
				margin-top:-7px;
				cursor: pointer;
			}



	#fadeAvatar{
		display:none;background:url(../img/menuLateral/avatar_mensaje.jpg) no-repeat; height:170px;width:170px;position:absolute;top:0;left:0;z-index: 1;cursor:pointer;
	}

	.gris{
		#ccc;
	}



	/* SIMULADOR DE CREDITOS PERSONALES */

img { border: 0; }

/* Tiny Circleslider */
#rotatescroll { height:190px; position:relative; width:190px;left: 0; position: absolute;}
#rotatescroll .viewport{ height:190px; position: relative; margin:0 auto; overflow:hidden; width:190px }
#rotatescroll .overview { position: absolute; width: 798px; list-style: none; margin: 0; padding: 0;  left: 0; top: 0; }
#rotatescroll .overview li { height:190px; width:190px; float: left; position: relative; }
#rotatescroll .overlay {position: absolute; left: 0; top: 0; height:190px; width:190px; }
#rotatescroll .thumb { background:url(../images/bg-thumb.png) no-repeat 50% 50%; position: absolute; top: -3px; cursor: pointer; left: 137px; width: 100px; z-index: 1000;  height: 100px; }
#rotatescroll .dot { background:url(../images/bg-dot.png) no-repeat 0 0; display: none; height: 12px; width: 12px; position: absolute; left: 155px; top: 3px; z-index: 100; }

#rotatescroll .dot span { display: none; }


#superbanner {
	width:253px;
	height:598px;
	/*border:1px #a6a6a6 solid;
	box-shadow:0 0 1px black;
	background-color:#D7E9C9;*/
	position:relative;

	background:url('../img/back_img.png') no-repeat;
}

#superbanner p{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	float: left;
	margin: 70px 0 0 15px;
}
#superbanner p:nth-of-type(2){
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin: 20px 0 0 15px;
}
#superbanner p:nth-of-type(3){
	margin: 20px 0 0 15px;
	line-height: 21px;
}


#cierraSB{
	background-image:url('../img/close_btnslct.png');
 	margin-right: -10px;
	float:right;
	width:40px;
	height:40px;
	background-size:100% 100%;
}

#cierraSB:hover{
	background-image:url('../img/close_btn.png');
	background-size:100% 100%;
	cursor:pointer;
	

}


#superbanner > div:nth-of-type(2){
	bottom: 40px;
	float: right;
	position: absolute;
	right: 15px;
}

.btnaceptar_sb {
		background-size: 100% 100%;
		border: 1px #b6b6b6 solid;
		border-radius: 15px;
		box-shadow: 2px 2px 3px #999;
		cursor: pointer;
		font-size: 11px;
		font-weight: bold;
		height: 23px;
		padding-top: 7px;
		text-align: center;
		width: 223px;
		font-family: 'ArialBlack';
		margin-top: 10px;
		color: #ff0000;
		background: white;
}

.btnaceptar_sb:hover{
	border:1px red solid;
}
.starblack{
	margin-left: 8px;
}

	#logo{

   width: 245px;
   border-left: 2px groove #FA3535;
   background: url(../img/background/gradiente.jpg);
	}