
#widreducido1x1{
	background: white;
}


#widreducido1x1 > div:first-of-type p {
margin-top: 7px;
margin-left: 9px;
font-family: 'ArialBlack';
color: #282828;
font-size: 12px;
float: left;
letter-spacing: -0.7px;
}

#textfirs {
	width:100%;
	height:30px;
	border-bottom: 1px solid #b1b1b1;
	
}

#textfirs p{
	font-size: 11px;
	font-family: Arial,sans-serif;
	font-weight: bold;
	margin-top: 8px;
	margin-left: 10px;
	color:#626262;
	float: left;
}
.radios{
	margin: -19px 9px 12px 12px;
}
.cajacont {
	width: 205px;
	height: 79px;
	
	}






.radios p{
	font-size: 11px;
	font-family: Arial,sans-serif;
	margin-top: 13px;
	margin-left: 30px;
	font-weight: bold;
	letter-spacing: -0.3px;
	color:#626262;
}

.radios p:last-of-type{
	font-size: 11px;
	font-family: Arial,sans-serif;
	margin-bottom: 17px;
	margin-left: 0px;
	font-weight: bold;
	letter-spacing: -0.3px;
	color:#626262;
}

.btnaceptar_wr {
	margin-bottom: -2px;
}

.btn_wr {
	margin-top: 9px;
}




.radiobtn {
	width:18px;
	height:18px;
	border:1px #ff0000 solid;
	float:left;
	border-radius:10px;
	cursor:pointer;
	margin-left: 8px;
	display:inline;
	top:6px;
	margin-bottom: -11px;
	margin-right: 6px;
	position: relative;
	display: inline-table;

}

.radiobtn_select{
	background-image: url(../img/Indicador.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:18px;
	height:18px;
	border:1px #ff0000 solid;
	float:left;
	border-radius:10px;

	}

	
