@font-face
{
font-family: 'ArialBlack';
src: url(../fonts/ArialBlack.ttf);
font-weight:bold;
}

body{
	background-color:#e8e8e8;
}
#widreducido1x2 {
	background-image:url('../grid/grid.png');
	background-color:white;
    border: 1px solid #BBBBBB;
    height: 578px;
    margin: 10px;
    position: relative;
    width: 243px;
}

#widreducido1x1 > div:first-of-type{
	width:100%;
	height:auto;
	border-bottom:1px #bbbbbb solid;
	overflow:hidden;
}
#header{
	width:243px;
	height:29px;
	border-bottom:1px #bbbbbb solid;
	overflow:hidden;
}

#header p{
	margin-top:5px;
	margin-left:15px;
	font-family:'ArialBlack';
	color:#282828;
	font-size:12px;
	float:left;
}

#btnampliar{
	width:20px;
	height:20px;
	background-image:url('../img/ampliar.png');
	float:right;
	margin:5px 5px 0 0;
	background-size:100% 100%;
}

#btnampliar:hover{
	background-image:url('../img/ampliarslct.png');
	cursor: pointer;
}


#btninfo{
	width:20px;
	height:20px;
	background-image:url('../img/info.png');
	float:right;
	margin:5px 5px 0 0;
	background-size:100% 100%;
}

#btninfo:hover{
	background-image:url('../img/infoslct.png');
	cursor: pointer;
}

#cont_reducido{
	width:478px;
	height:39px;
	margin:10px 0 0 10px;
	float:left;
}

#tarjeta{
	width:50px;
	height:40px;
	float:left;
}

#cont_reducido p{
	text-align: left;
	margin-left:10px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#626262;
	font-size:11px;
	margin-top:0px;
	line-height:85%;
}

#infotbl{
	width:498px;
	height:88px;
	border-top:1px #bbbbbb solid;
	border-bottom:1px #bbbbbb solid;
	border-collapse:collapse;
	float:left;
	margin-left:0px;
	overflow:hidden;
}

#infotbl p:nth-child(1){
	color:#282828;
}

#infotbl td{
	text-align: left;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#626262;
	font-size:11px;
	width:108px;
	font-size:11px;
	padding-left:15px;
	height:88px;
	line-height:9px;
}

#infotbl p{
	line-height:9px;
}

#infotbl td:nth-child(2){
	border-left:1px #bbbbbb solid;
	width:114px;
	padding-left:10px;
}

#infotbl td:nth-child(3){
	border-left:1px #bbbbbb solid;
	border-right:1px #bbbbbb solid;
	width:113px;
	padding-left:10px;
}

#infotbl td:nth-child(4){
	width:110px;
	padding-left:10px;
}

#infocredito p:nth-child(3){
	color:#282828;
}

#infocredito{
	
	float:left;
	line-height:9px;
}
#infocredito p{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	color:#626262;
	margin-left:15px;
}

.btn{
	background-color: #FFFFFF;
    border: 1px #A6A6A6 solid ;
    border-radius: 15px;
    box-shadow: 1px 1px 2px #E1E1E1;
    color: #626262;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 23px;
    padding-top: 7px;
    text-align: center;
    width: 223px;
    font-family:'ArialBlack';
    margin-top:10px;
}

.btnaceptar {
    background-color: #FFFFFF;
    border: 1px #A6A6A6 solid ;
    border-radius: 15px;
    box-shadow: 1px 1px 2px #E1E1E1;
    color: #FF0000;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 23px;
    padding-top: 7px;
    text-align: center;
    width: 223px;
    font-family:'ArialBlack';
    margin-top:10px;
}

.btnaceptar:hover{
	border:1px red solid;
}

.btn:hover{
	border:1px red solid;
}

.botonera {
    bottom: 13px;
    float: right;
    position: absolute;
    right: 8px;
}
.wra_Select{
	float:left;
	box-shadow: 1px 1px 2px #E1E1E1;
	margin-top:-4px;

}

.dd-select{
	height:24px;
	border-radius:0;
	border-color:#a6a6a6;
	background-color:#f7f7f7;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:10px;
	color:#626262;
	padding-top:4px;
}

.dd-selected{
	font-size:11px;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:10px;
	color:#626262;
	padding-top:3px

	
	
}


.dd-option{
	height:20px;
	padding:5px 0 0 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:10px;
	color:#626262;
	text-align: center;
	padding-top:8px;
}

.dd-pointer-up {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-image: url('') none !important;
    border-left-style: solid !important;
	border-left-color: rgba(0, 0, 0, 0) !important;
	border-left-width: 2px !important;
	border-right-style: solid !important;
	border-right-color: rgba(0, 0, 0, 0) !important;
	border-right-width: 2px !important;
	border-top-style: solid !important;
	border-top-color: rgba(0, 0, 0, 0) !important;
	border-top-width: 2px !important;
	border-bottom-style: solid !important;
	border-bottom-color: #626262 !important;
	border-bottom-width: 2px !important;
}

.dd-pointer-down {
    border-left: 2px solid rgba(0, 0, 0, 0);
	border-top: 2px solid #626262;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: url('') none;
    border-right: 2px solid rgba(0, 0, 0, 0);
    }

.dd-option:hover{
	border-color:#ff0000;
	color:#ff0000
}

/*Balance Transfer*/
#subtitulo{
	line-height:15px;
}

#subtitulo p{
	margin:10px 0 0 15px;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	color:#626262;
	width:233px;
}

#token{
	float:left;
	margin:10px 0 0 60px;
	height:65px;
}

#input {
    float: left;
    margin-top: -12px;
}


/*input[type=text] {
    background-color: #E8E8E8;
    border: 1px solid #a4a4a4;
    box-shadow: 1px 1px 5px #C6C6C6 inset;
    color: #A4A4A4;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 11px;
    height: 27px;
    margin-top: 8px;
    text-align: center;
    width: 223px;
}*/
	
.servgrid{
	border-collapse:collapse;
	margin:10px 0 0 10px;
	border:1px red solid;
	
}

.servgrid td{
	width:72px;
	height:72px;
	border:1px #a6a6a6 solid;
}

.servgrid td:hover{
	cursor:pointer;
}


.imgservicio{
	float:left;
	margin:6px 0 0 6px;
}

#carruselServicios{
	width:224px;
	height:28px;
	float:left;
	height:28px;
	border-bottom:1px #a6a6a6 solid;
	border-left:1px #a6a6a6 solid;
	border-right:1px #a6a6a6 solid;
	background-color:#f7f7f7;
	font-family:'ArialBlack';
	font-size:10px;
	padding-top:0px;
	margin-left:10px;
	box-shadow: 1px 1px 2px #E1E1E1;
}
.selector{
	width:17px;
	height:16px;
	border-radius:9px;
	border: 1px #F7F7F7 solid;
	float:left;
	margin: 4px 0 0 21px;
	color:#626262;
	font-family:'ArialBlack';
	font-size:11px;
	font-weight:bold;
	text-align: center;
}

.selector:hover{
	cursor:pointer;
}
.carselect{
	color:#ff0000;
	border:1px #ff0000 solid;
}

.servselect{
	border-bottom:1px #ff0000 solid;
}

.busqueda p{
	color:#a6a6a6;
	float:left;
}

.comentario{
	color:#282828;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin:10px 0 0 10px;
	float:left;
	
}

.busqueda{
	float:left;
	color:#626262;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin:-4px 0 0 10px;
	float:left;
	font-size:11px;

}

