@import url('../css/widgets.css');

/*Estilos propios- Domiciliaciones*/

#Widredu {
	border:1px solid black;
	width: 250px;
	height: 500px;
	font-size: 13px !important;
	font-color: #ffffff;
	margin:auto;
	overflow: hidden;
	float: left;
}

#header {
	background-color: #000000;
	font-color: #ffffff;
	font-weight: bold;
	width: 250px;
	height: 35px;
	float: left;
}

.h1{
	color:white;
	font-size:16;
	margin-top:10px;
	margin-left:15px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;

}

/*Texto Superior*/
.textSuperior{
	margin:10px 0 0 10px;
	float:left;
}
/*Centrado de switch*/
.centradoSwitch{
	margin:75px 50px;
}	
/* link*/
a:link,a:visited{
	color:#090909;
}

/*Tamaño de vision para cuadro de tarjetas credito*/
#servlistTarjetas {
    float: left;
    margin: 5px 0 0 12px;
    height:210px;
    width:210px;
    overflow:hidden;
}

#radbtnsTarjetas {
    float: left;
    height: 20px;
    margin-left: 79px;
    width: 70px;
}

/*Estilos para seleccion - y excepcion en tablas*/
.grid tr:nth-child(1) td{
	font-weight: normal;
}


.bordeHov{
	border-color:red;
	border-style:solid;
	cursor:pointer;
}

.borde2:hover{
	border-color:red;
	border-style:solid;
	cursor:pointer;
}



