#widampliado .jr{
	border:solid 1px silver; margin-top:15px; margin-left:180px; width:79%; text-align:left;
}
#titulo{
	
	font-size: 11px;
	font-family: 'ArialBlack';
	color: red;
	text-align:left;
	position: relative;
	top: 10px;
	left: 20px;
	
}
#exportar{
	width: 80px;
	height: 22px;
	background: url(../img/exportar.png);
	float: right;
	margin-right: 5px;
	cursor: pointer;
}

#consult{
	background: red;
}
.cols{
	width: 17%;
	float: left;
	text-align: center;
	font-size: 10px;
	font-family: Arial;
}
.cols2{
	float: left;
	
}
.cols2 ul{
	list-style: none;
	font-family: Arial, sans-serif, Helvetica;
	font-size: 11px;
	margin-left: -40px;
	margin-right: 15px;
	
}
.iconos ul{
	
	width: 40%;
}
/*.cols2 ul li input{
	width: 232px;
}*/
.camptext{
	width: 17%;
	float: left;
	text-align: center;
	font-size: 10px;
	font-family: Arial;
	background: red;
}
.camptext ul{

}
.cols ul{
	list-style:none; 
	margin-left:-50px;
}
.cols ul li{
	margin-top: 12px;
}

.cols ul > li:nth-of-type(1){
	font-weight: bolder;
	margin-top: -6px;
}

.cols.iconos{
	width: 7%;
	margin-left: 5px;
}
span{
	font-family: arial;
	font-weight: bolder;
	font-size: 11px;
	left:8px;
}
.btnaction{
	width: 15px;
	height: 15px;
	background: url("../img/quitar.png");
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
}
.btnaction2{
	width: 15px;
	height: 15px;
	background: url("../img/agregar.png");
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
}

.btnactionx{
	width: 15px;
	height: 15px;
	background: url("../img/quitar.png");
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
}
#altas{
	display: none;
	border:none;
}
.rad{
	width: 11px;
	height: 11px;
	border-radius: 100%;
	box-shadow: 0px 0px 0px 1px grey;
	margin: 0 auto;
	cursor: pointer;
	/*background: url(../img/indicador.png) no-repeat;*/
	background-position: center;
	background-size: 6px;
	margin-left: 9px;
}
.radselect{
	width: 11px;
	height: 11px;
	border-radius: 100%;
	box-shadow: 0px 0px 0px 1px grey;
	margin: 0 auto;
	cursor: pointer;
	background: url(../img/indicador.png) no-repeat;
	background-position: center;
	background-size: 6px;
	margin-left: 9px;
}

#infotext1{

	width: 96px;
	height: 46px;
	position: absolute;
	right: 210px;
	top: 122px;
	background: url("../img/globito.png");
	display: none;

}
#infotext1 .deletetext{
	font-size: 10px;
	position: relative;
	top: 10px;
	left: 0px;
}
#infotext2{

	width: 96px;
	height: 46px;
	position: absolute;
	right: 150px;
	top: 122px;
	background: url("../img/globito.png");
	display: none;

}
#infotext2 .deletetext{
	font-size: 10px;
	position: relative;
	top: 10px;
	left: 0px;
}
#infotext3{

	width: 96px;
	height: 46px;
	position: absolute;
	right: 100px;
	top: 122px;
	background: url("../img/globito.png");
	display: none;

}
#infotext3 .deletetext{
	font-size: 10px;
	position: relative;
	top: 10px;
	left: 0px;
}
#infotext4{

	width: 96px;
	height: 46px;
	position: absolute;
	right: 50px;
	top: 122px;
	background: url("../img/globito.png");
	display: none;

}
#infotext4 .deletetext{
	font-size: 10px;
	position: relative;
	top: 10px;
	left: 0px;
}
.iconos ul > li:nth-of-type(4),.iconos ul > li:nth-of-type(5){
	
}
.main ul > li:nth-of-type(6),.main ul > li:nth-of-type(5){

}

.main ul > li:nth-of-type(5){
	
}
#confel{
	width: 230%;
	height: 10px;
	display: none;
	position: relative;
	left: 15px;
}
#confel input{
	width: 130%;
	border-radius: 10px;
	height: 270%;
	background:#cdd7d9;
	color: red;
	font-size: 11px;
	font-family: 'ArialBlack';
	outline: none;
}
#save{
	width: 230%;
	height: 10px;
	display: none;
	position: relative;
	left: 15px;
}
#save input{
	width: 130%;
	border-radius: 10px;
	height: 270%;
	background:#cdd7d9;
	color: red;
	font-size: 11px;
	font-family: 'ArialBlack';
	outline: none;
}
.textedit{
	display: none;
}
.textedit input{
	font-size: 11px;
	font-family: 'ArialBlack';
}
/*.infotext:after{
	content: "";
	border-top: solid 17px #fff; 
	border-bottom: solid 5px transparent;
	border-left: solid 5px transparent;
	border-right: solid 5px transparent;
	position: relative;
	top: 45px;
	left: 30px;
}*/
	/*.x{
			width: 15px;
			height: 15px;
			background: url("../img/quitar.png");
			float: right;
			margin-right: 10px;
			margin-top: 5px;
			cursor: pointer;
		}
		.x2{
			width: 15px;
			height: 15px;
			background: url("../img/agregar.png");
			float: right;
			margin-right: 10px;
			margin-top: 5px;
			cursor: pointer
		}*/