@import url("../../../../css/bloqueo.css");
@import url("../../../../css/steps.css");

.contenidoFlujo {
	border:none;
}

.wra_flu1 > .step2{
	display:none;
}

.wra_flu1 > .step3{
	display:none;
}

.wra_flu2{
	display:none;
}

.linkEditar{
	color:#ff0000 !important;
	text-decoration: none;
}

.w8_EC_contenidodatos1 {
background: #efefef;
float: left;
width: 540px;
height: 190px;
}
.w8_EC_contenidodatos1 p:nth-of-type(1) {
	float: left;
	margin-left: 10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	margin-bottom: 7px;
	margin-top: 8px;
	}
.w8_EC_contenidodatos1 p:nth-of-type(2) {
float: left;
margin-left: 10px;
margin-top:4px;
margin-bottom: 2px;
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:11px;
font-weight:bold;
	}
.w8_EC_sexycombo span {
	font-weight:bold;
	margin-left:0px;
	position: relative;top: 3px;
	left: -27px;
}
#w8_EC_autocompleteQ  {
width:496px; 
height:25px; 
border:1px solid #989898; 
border-right: 0px; 
outline:0px;
margin-top:0px; 
margin-left:8px;
margin-bottom:15px; 
border-radius: 4px 0 0 4px;
}
.w8_EC_sexycombo span {
	font-weight:bold;
	margin-left:0px;
	position: relative;top: 3px;
	left: -27px;
}
.w8_EC_marcotriangulo {
margin-top: -44px;
margin-left: 505px;
float: left;
height: 27px;
width: 24px;
border-left: 0px;
border-right: solid 1px #989898;
border-bottom: solid 1px #989898;
border-top: solid 1px #989898;
border-radius: 0 4px 4px 0;
}
.triangulo_inf {
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 8px solid #666665;
margin-left: 5px;
margin-top: 10px;
}
.tabletext  {
	width: 540px;
	height: 50px;
	margin-top: -10px;
}

.textboxdos  {
	position: absolute;
	margin-top: 32px;
	height: 25px;
	width: 252px;
	left: 198px;
	border: 1px solid #989898;
	border-radius: 4px 4px 4px 4px;
	}
.textboxdos2  {
position: absolute;
margin-top: -8px;
height: 25px;
width: 252px;
left: 465px;
border: 1px solid #989898;
border-radius: 4px 4px 4px 4px;
}
.dd-select {
position: relative;
top:29px;
margin-bottom: 36px;
left: 9px;
}
.dd-selected {
position: absolute;
margin-top: 0px;
}


#concept {
 	float: left;
 	margin-left: 274px;
 	margin-top: -35px;
 }

 .w8_EC_contenidodatos2 {
background: #efefef;
float: left;
margin-left: 10px;
width: 164px;
height: 190px;
padding-left: 9px;
}
.w8_EC_contenidodatos2 p:nth-of-type(1) {
	float: left;
	
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	margin-bottom: 7px;
	margin-top: 7px;
	}

.w8_EC_contenidodatos2 p:nth-of-type(2) {
float: left;

font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:11px;
font-weight:bold;
margin-bottom: 0px;
margin-top: 5px;
}

	.w8_EC_contenidodatos2 p:nth-of-type(3) {
	float: left;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 10px;
	margin-bottom: 5px;
	}
#w8_EC_switchBox{
	border:1px #a6a6a6 solid;
	width:78px;
	height:28px;
	margin:-157px 85px 0 10px;
	float:right;
	position:relative;
	overflow:hidden;
}
.w8_EC_switchSlide,.w8_EC_switchSlide2{
	float:left;
	width:120px;
	position:absolute;
	left:-39px;
}
.w8_EC_switchLabelR,.w8_EC_switchLabelR2{
	width:39px;
	height:28px;
	float:left;
	background-color:#ffffff;
	cursor:pointer;
}
.w8_EC_switchIndicador{
	width:37px;
	height:26px;
	float:left;
	background-color:#ff0000;
	border:1px #c9c9c9 solid;
	border-radius:5px;
}
.w8_EC_marcocalendar {
margin-top: -29px;
margin-left: 134px;
float: left;
height: 27px;
width: 24px;
border-left: 0px;
border-right: solid 1px #989898;
border-bottom: solid 1px #989898;
border-top: solid 1px #989898;
border-radius: 0 4px 4px 0;
}
.w8_EC_marcocalendar img{
	margin-top: 6px;
	margin-left: 4px;
	}
.textboxdecalendar {
width:132px;

border-radius: 4px 0px 0px 4px;
margin-top:6px;
height:25px;
border: 1px solid #989898;
}

/*segunda funcionalidad */
.table_OC {
background: #efefef;
float: left;
width: 540px;
height: 130px;

}

.a_OC {
color:#ff0d37;
font-weight:bold;
	}
	.span_OC {
	font-size:11px;
	bottom: 12px;
	position: relative;
	left: 10px;
	}

.textboxtres  {
float: left;
margin-left: 10px;
margin-top: 5px;
height: 25px;
width: 250px;
border-radius: 4px 4px 4px 4px;
border: 1px solid #989898;
}
.textboxreferen{
float: left;
margin-left: 10px;
margin-top: 30px;
height: 25px;
width: 250px;
border-radius: 4px 4px 4px 4px;
border: 1px solid #989898;
}
.numDta_p3 {
	width: 312px;
	height: 64px;
	}
.numDta_p3 p {
float: left;
margin-left: 10px;
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:11px;
margin-bottom: 0px;
margin-top: 5px;
}

.subtitulo2F4 {
float: left;
position: relative;
left: 40px;
top: 7px;
font-family: Arial, Helvetica, sans-serif;
color: red;
font-size: 11px;
font-weight: bold;
}
.p_OC {
float: left;
margin-left: 10px;
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:11px;
font-weight:bold;
margin-bottom: 0px;
margin-top: 5px;
	}
.textbox_OC {
float: left;
margin-left: 10px;
margin-top: 5px;
height: 25px;
width: 250px;
border-radius: 4px 4px 4px 4px;
border: 1px solid #989898;
}
.middletd_OC img{
	float: left;
	margin-left: 236px;
	margin-top: -25px;
}
.textboxDias {
float: left;

margin-top: 5px;
height: 29px;
width:157px;
border-radius: 4px 4px 4px 4px;
border: 1px solid #989898;
}
.textbox_OCLarge{
	float: left;
margin-left: -66px;
margin-top: 27px;
height: 25px;
width: 220px;
border-radius: 4px 4px 4px 4px;
border: 1px solid #989898;
}

.btnExportarbtn{
	width: 225px;
	height: 50px;
	margin-top: 10px;
	cursor: pointer;
	padding-top: 5px;
	position: absolute;
	margin-left: 506px;
}
.w8_EC_tabla2 table{
	width: 416px;
}
.w8_AC_tabla{
	margin-top: 10px;
	margin-left: 40px;
	float: left;
	width: 500px;
	height: 135px;
}
.w8_CAB_tabla{
	margin-top: 10px;
	margin-left: 40px;
	float: left;
	width: 500px;
	height: 135px;
}
.w8_AC_paso2{
	float: left;
	width: 376px;
	height: 115px;
	margin-top: 10px;
	margin-left: 10px;
}
.contDerecho {
	width: 163px;
	height: 110px;
	/*background-color: #efefef;*/
	float: left;
	margin-left: 10px;
}
.contDerecho p:nth-of-type(1)  {
	float: left;
	margin-left: 8px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	margin-bottom: 7px;
	margin-top: 7px;
	}
.contDerecho p:nth-of-type(2) {
	float: left;
	margin-left: 8px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	margin-bottom: 7px;
	margin-top: -3px;
	}
.contDerecho input {
height: 25px;
width: 145px;
margin-left: 8px;
border: 1px solid #989898;
border-radius: 4px 4px 4px 4px;
font-size:11px;
	}
.contDerecho p:nth-of-type(3) {
	float: left;
	margin-left: 8px;
	font-family:Arial, Helvetica, sans-serif;
	color:#ff0000;
	font-size:12px;
	font-weight:bold;
	margin-bottom: 7px;
	margin-top: 7px;
	} 
	.correocontacto{
		position:absolute;
		width: 477px;
		height: 30px;
		background-color: #ffffff;
		margin-top: 55px;
	}
	.correocontacto p:nth-of-type(1){
	float: left;
	margin-left: 8px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:11px;
	margin-top: 8px;

	}
	.correocontacto p:nth-of-type(2){
	float: left;
	margin-left: 8px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	margin-top: 8px;
	}
	.DC_cuentadest {
	float: left;
	margin-left: 8px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	margin-top: 12px;	
	}
	.DC_cuentacar {
		float: left;
	margin-left: 8px;
	font-family:Arial, Helvetica, sans-serif;f
	color:#000000;
	font-size:11px;
	font-weight:bold;
	margin-top: 16px;
	}
.prueba{
	width: 160px;
	float: left;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
}

.w4_selects{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.w4_CB_buscador{
	float: left;
	width: 100%;
	height: 60px;
}
.CAB{
	height: 65px;
}
.wrapGrid{
		overflow-y:hidden;
}
.switchBox {
	margin-left: 10px;
	top:6px;
}

