@import url('../../css/widgets.css');

/*Texto Superior*/
.textSuperior{
	margin:10px 0 0 10px;
	float:left;
}
/*Centrado de switch*/
.centradoSwitch{
	margin:75px 50px;
}	
/* link*/
a:link,a:visited{
	color:#090909;
}


/*Tamaño de vision para cuadro de tarjetas credito*/
#servlistTarjetas {
    float: left;
    margin: 5px 0 0 12px;
    height:210px;
    width:210px;
    overflow:hidden;
}

#radbtnsTarjetas {
    float: left;
    height: 20px;
    margin-left: 79px;
    width: 70px;
}

/*Estilos para seleccion - y excepcion en tablas*/
.grid tr:nth-child(1) td{
	font-weight: normal;
}


.bordeHov{
	border-color:#5a5a5a;
	border-style:solid;
	cursor:pointer;  
}


.borde2:hover{
	border-color:#5a5a5a;
	border-style:solid;
	cursor:pointer;
	/*border-top-right-radius: 20%;*/
}

/*Efecto triangulo*/
.borde2:hover > span:after{
	width: 0;
    height: 0;
    padding-left: 0px;
    margin: -19px 0 0 9px;
    position:absolute;
    content: '';
    border-left: 31px solid transparent;
    border-right: 0px solid transparent;
    border-top: 20px solid #5a5a5a;
}
/*Dropdown  */

#downico1{
	float:left;
	margin:1px 5px 0 10px;
}
#downico2{
	float:left;
	margin: 1px 5px 0 10px;
}
#upico1{
	float:left;
	margin: 1px 5px 0 10px;
}
#upico2{
	float:left;
	margin: 1px 5px 0 10px;
}
#select1{ 
	display:none;
}
#select2{
	di´play:none;
}
.dropcontainer{
	height: 100px;
	widht:715px;
	float:left;
	overflow:auto;
}

/*Marco informativo*/
.marcoInformativo{
border-radius:5px;
border:2px solid #EBEBEB;
width:100%;
padding:5px;
}

.marcoInformativo2{
border-radius:5px;
border:2px solid #EBEBEB;
width:60%;
padding:5px;
}

/**slider*/
#slider {
    background-color: #E6E8E8;
    float: left;
    height: 85px;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
}

.serv_in{
	height:58px;
	width:58px;
	margin:10px 0 0 10px ;
	background-color:#C2C2C1;
	float:left;
	border-radius: 5px;
	border:1px #C2C2C1 solid;

}

.servslc{
	height:58px;
	width:58px;
	margin:10px 0 0 10px ;
	background-color:#57595A;
	border:1px #57595A solid;
	float:left;
	border-radius: 5px;
}


.servslide{
	height:56px;
	width:54px;
	margin:15px 0 0 10px ;
	background-color:#C2C2C1;
	float:left;
	border-radius: 5px;
	border: 1px #C2C2C1 solid;

}


.servslide:hover{
	
	cursor:pointer;
	border:1px red solid;
	
}

.cuadserv {
	height: 62px;
	width: 59px;
	background-color: #58595A;
	margin-left: 5px;
	margin-right: 0px;
	display:inline-table;
	float:none;
	padding: 0;
	margin-top: 5px;
}

.input{
	width:50%;
}

#wra_Select2 .dd-select{
	width:30px;
}