#header-wrapper{
	background-color: #F2E5DC;
	padding: 2px 25px 0;
}
#logo{
	float: left;
	width: 40%;
}

#logo img{
	width: 112px;
	height: 57px;
}
#login_controlls{
	float: right;
	text-align: right;
	width: 60%;
}
#login_controlls input[type=email],
#login_controlls input[type=password]{
	border: none;
	width: 30%;
	margin-top: 8px;
}

#login_controlls input[type=text]{

}

#login_button{
	background-image: url("../images/flecha_login.png");
	background-position: right 0;
	background-repeat: no-repeat;
	background-size: 14px 12px;
	color: #94877D;
	font-size: 13px;
	font-weight: bold;
	margin-top: 12px;
	padding-right: 14px;
	text-transform: uppercase;
}

::-webkit-input-placeholder { 
    color:    #9d9b9c;
}
:-moz-placeholder {
    color:    #9d9b9c;
}
::-moz-placeholder { 
    color:    #9d9b9c;
}
:-ms-input-placeholder { 
    color:    #9d9b9c;
}
