.submit_button{
	background-image: url("../images/backdegradado_btn.png");
	background-size: 1px 36px;
	border: medium none;
	color: #FFFFFF;
	font-weight: bold;
	height: 36px;
	text-transform: uppercase;
}