@import url('../../../../css/widgets.css');
@import url('../../../../css/componentes.css');

#contenido{
	background-color:white;
}

.transf{
	
	width:708px;
	height:100px;
	border-collapse:collapse;

}

.transf tr:nth-child(even) {
	background-color:#f4f4f4;
	}

.transf td{
	padding-left:10px;
	padding-top:3px;
	height:22px;
}

.lista:hover{
	cursor:pointer;
	background:none;
	background-image:url('../../lineagrafica/drop.png');
	
}

.listaslct{
	border:1px red solid;
	background-image:url('../../lineagrafica/vtabtn.png');
	
}

.botonera {
    margin: 24px -10px 0 0;
    width: auto;
}

.botonera1 {
    float: right;
    margin: 60px -10px 0 0;
    width: 494px;
}

.botonera2 {
    float: right;
    margin: 165px -10px 0 0;
    width: 494px;


}

/* EStilos transferencias*/

.tbl_botones2{
	float: left; 
	margin-left:228px; 
	margin-top:30px;
}

.botonera3 {
margin: 145px -10px 0 0;
width: 494px;
float:right;
}

#contenido2, #contenido3, #contenido4, #contenido5{
	display: none;

}

.cuadroMensaje {
			width:18px;
			height:18px;
			background-color:white;
			float:left;
			border:2px solid red;
			margin-top:50px;

		}

		.textoMensaje {
		font-size:10px;
		margin-top:45px;
		margin-left:8px;
		float:left;
		font-family:Arial, Helvetica, sans-serif;
	}


	/*#contenido2{
>>>>>>> 9d79245f87b0cdab5c0794a93b3a93eed6b61e24
			display: none;
		}*/
		
		#img{
			width: 180px;
			height: 243px;
			background:url("../../../../img/iconos/nip.png");
			margin: 0 auto;
			margin-left: 35%;
		}
		/*#text{
			width: 30%;
			margin: 0 auto;
			text-align: center;
			padding-bottom: 20px
;			margin-top: 20px;
			color: #fff;
			font-weight: bold;
		}*/
		#text{
			width: 30%;
			margin-left: 28%;
			/*margin: 0 auto;*/
			text-align: center;
			padding-bottom: 20px;
			margin-top: 70px;
			color: #fff;
			font-weight: bold;
		}
		#form{
			width: 50%;
			margin: 0 auto;
			padding-top: 15px;
		}
		/*#form input{
			margin: 0 auto;
		}*/
		#form input{
			margin: 0 auto;
			margin-left: 95px;
		}
		#form #token{
			display:block;
			width: 210px;
			height: 25px;
		}
		/*#form #buttons{
			padding-top: 10px;
			width: 250px;
			margin: 0 auto;
			margin-left: 170px;
			
		}*/
		#form #buttons{
			padding-top: 10px;
			width: 320px;
			margin: 0 auto;
			margin-left: 40px;
			display:inline-block;
			
		}
		#form #can, #con{
			margin: 0 auto;
			width: 110px;
			height: 30px;
			border-radius: 8px;
		}

/*ajuste de botones tamaño paso 3 : copia de wr_btnNav */

#btn_paso3{
	width: 244px;
	overflow: hidden;
	margin-top:50px;
	position:absolute;
	margin-top: 291px;
	/*margin: auto;*/
	border-left: 1px solid #b9b9b9;
	border-right: 1px solid #b9b9b9;
	border-top: 1px solid #b9b9b9;
	height:93px;

}
 
#btn_paso3 > ul > li:first
{
	font-weight:bolder;
}

#btn_paso3 ul {
	list-style: none;
	/*background: #efefef;*/
	background: #fff;
	width: 100%;
	margin: auto;
	padding: 0 0 0 0;
	font-size: 12px;			
}

#btn_paso3 ul li{
	/*background: url(../img/menuLateral/btn_menu.png);*/
	width: 100%;
	height: 20px;
	padding: 10px 10px 0;
	border-bottom: 1px solid #bbbbbb;
	cursor: pointer; 
	font-size: 9px;
	text-transform: uppercase;
	text-align:left;
}

#btn_paso3 ul li:hover{
	/*background: #e3e3e3;*/
	color:#ff0000;
}

#btn_paso3 ul li > img{
	float: left;
	margin-left: 5px;
	margin-top: -5px
}

.txtbtn_3{
	margin-left: 17px;
}


/**************************NUEVO ESTILO AGREGADO***********************************/

#titre{
	
	font-size: 11px;
	font-family: 'ArialBlack';
	color: red;
	text-align:left;
	position: relative;
	top: 10px;
	left: 2px;
	
}

#exportar{
	width: 80px;
	height: 22px;
	background: url(../img/exportar.png);
	float: right;
	margin-right: 5px;
	cursor: pointer;
}

#consult{
	background: red;
}
.cols{
	width: 15%;
	float: left;
	text-align: center;
	font-size: 10px;
	font-family: Arial;
	margin-top: 10px;
}
.cols2{
	float: left;
	
}
.cols2 ul{
	list-style: none;
	font-family: Arial, sans-serif, Helvetica;
	font-size: 11px;
	margin-left: -40px;	
	margin-right: 15px;
	margin-top: 10px;
	
}

.iconos ul{
	
	width: 40%;

}
/*.cols2 ul li input{
	width: 232px;
}*/
.camptext{
	width: 17%;
	float: left;
	text-align: center;
	font-size: 10px;
	font-family: Arial;
	background: red;
}
.camptext ul{

}
.cols ul{
	list-style:none; 
	margin-left:-31px;
}
.cols ul li{
	margin-top: 12px;
}

.cols ul > li:nth-of-type(1){
	font-weight: bolder;
	margin-top: -6px;
}
.cols ul > li:nth-of-type(2){
	font-weight: bolder;
	margin-top: 16px;
	
}
.iconos ul > li:nth-of-type(2){
	font-weight: bolder;
	margin-top: 3px;
	
}
.cols.iconos{
	width: 7%;
	margin-left: 5px;
}
span{
	font-family: arial;
	font-weight: bolder;
	font-size: 11px;
	left:8px;
}
.btnaction{
	width: 15px;
	height: 15px;
	background: url("../../../../img/iconos/quitar.png");
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
}
.btnaction2{
	width: 15px;
	height: 15px;
	background: url("../../../../img/iconos/agregar.png");
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
}

.btnactionx{
	width: 15px;
	height: 15px;
	background: url("../../../../img/iconos/quitar.png");
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
}
#altas{
	display: none;
	border:none;
}
.rad{
	width: 11px;
	height: 11px;
	border-radius: 100%;
	box-shadow: 0px 0px 0px 1px grey;
	margin: 0 auto;
	cursor: pointer;
	/*background: url(../img/indicador.png) no-repeat;*/
	background-position: center;
	background-size: 6px;
	margin-left: 9px;
}
.radselect{
	width: 11px;
	height: 11px;
	border-radius: 100%;
	box-shadow: 0px 0px 0px 1px grey;
	margin: 0 auto;
	cursor: pointer;
	background: url("../../../../img/iconos/indicador.png") no-repeat;
	background-position: center;
	background-size: 6px;
	margin-left: 9px;
}

#infotext1{

	width: 96px;
	height: 46px;
	position: absolute;
	right: 75px;
	top: 100px;
	background: url("../../../../img/iconos/globito.png");
	display: none;

}
#infotext1 .deletetext{
	font-size: 10px;
	position: relative;
	top: 10px;
	left: 0px;
}
#infotext2{

	width: 96px;
	height: 46px;
	position: absolute;
	right: 130px;
	top: 100px;
	background: url("../../../../img/iconos/globito.png");
	display: none;

}
#infotext2 .deletetext{
	font-size: 10px;
	position: relative;
	top: 10px;
	left: 0px;
}
#infotext3{

	width: 96px;
	height: 46px;
	position: absolute;
	right: 100px;
	top: 122px;
	background: url("../../../../img/iconos/globito.png");
	display: none;

}
#infotext3 .deletetext{
	font-size: 10px;
	position: relative;
	top: 10px;
	left: 0px;
}
#infotext4{

	width: 96px;
	height: 46px;
	position: absolute;
	right: 20px;
	top: 100px;
	background: url("../../../../img/iconos/globito.png");
	display: none;

}
#infotext4 .deletetext{
	font-size: 10px;
	position: relative;
	top: 10px;
	left: 0px;
}
.iconos ul > li:nth-of-type(4),.iconos ul > li:nth-of-type(5){
	
}
.main ul > li:nth-of-type(6),.main ul > li:nth-of-type(5){

}

.main ul > li:nth-of-type(5){
	
}
#confel{
	width: 230%;
	height: 10px;
	display: none;
	position: relative;
	left: -46px;
}
#confel input{
	width: 130%;
	border-radius: 10px;
	height: 270%;
	background:#cdd7d9;
	color: red;
	font-size: 11px;
	font-family: 'ArialBlack';
	outline: none;
}
#save{
	width: 230%;
	height: 10px;
	display: none;
	position: relative;
	left: -46px;
}
#save input{
	width: 130%;
	border-radius: 10px;
	height: 270%;
	background:#cdd7d9;
	color: red;
	font-size: 11px;
	font-family: 'ArialBlack';
	outline: none;
}
.textedit{
	display: none;
}
.textedit input{
	font-size: 11px;
	font-family: 'ArialBlack';
}
input[type=text]{
	width: 214px;
}
input[type=text] {
height: 28px;
font-family: 'ArialBlack';
color: #a4a4a4;
font-size: 11px;
text-align: center;
margin-top: 8px;
background-color: #e8e8e8;
box-shadow: inset 1px 1px 5px #c6c6c6;
border: 1px #a6a6a6 solid;
width: 211px;
}


.sexycombo {
margin-top: 12px;
margin-left: 0px;
width: 546px;
height: 54px;
text-align: left;
}

.ftext1{
	width:;
	float: left;
	margin-left: 30px;
	font-size: 12px;
	margin-right: 10px;
	color: grey;
}
.ftext2{
	width:;
	float: left;
	
}
.ftext3{
	width:;
	margin-top: 200px;
	
}
.titre{
	
	font-size: 11px;
	font-family: 'ArialBlack';
	color: red;
	text-align:left;
	position: relative;
	top: -5px;
	left: 0px;
}
.tittext{
	/*margin-left: 200px;*/
	margin-top: 20px;
	font-family: Arial, Sans-serif, Helvetica;
	font-size: 12px;
	color: grey;
	font-weight: bold;
	

	
}
.inputtext{
	/*margin-left: 200px;*/
	margin-top: 10px;
	
}






#progfecha,#progfecha2,#progfecha3,#progfecha4{

	font-family: Arial, Sans-serif, Helvetica;
	margin-top: 127px;
	margin-left: 255px;
	width:32%;
	font-size: 12px;
	color: grey;
	font-weight: bold;
	
}
#calendar{
	border:solid 1px silver;
	width: 79px;
	height: 30px;
	margin-top: 5px;
	float: left;
	border-radius: 10px;
}
.imgcal{
	width: 30px;
	height:30px;
	border: solid 1px silver;
	margin-left: 10px;
	margin-top: 5px;
	float: left;
	background: url(../../../../img/iconos/calendario.png);
	cursor: pointer;
}
#textcal{
	
	width: 85px;
	height: 30px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}
#textcal input{
	width: 85px;
	margin-top: 0px;
}
#minisexycombo{
	width: 225px;
	height: 30px;
	margin-left: 0px;
	margin-top: 20px;
	display: none;
}

/***switch**/



.switchCont{
	width:430px;
	height:40px;
	margin-right:-340px;
	float:right;
	margin-top:0px;
}

.switchCont p{
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	float:left;
	font-weight:bold;
	margin-left:10px;
	margin-top:5px;
}

#switchBox{
	border:1px #a6a6a6 solid;
	width:78px;
	height:28px;
	margin:0 0 0 10px;
	float:left;
	position:relative;
	overflow:hidden;
}

.switchSlide,.switchSlide2{
	float:left;
	width:120px;
	position:absolute;
	left:-39px;
}

.switchIndicador{
	width:37px;
	height:26px;
	float:left;
	background-color:#ff0000;
	border:1px #c9c9c9 solid;
	border-radius:5px;
}

.switchLabel,.switchLabel2{
	width:39px;
	height:28px;
	float:left;
	background-color:#ffffff;
	cursor:pointer;
}

.switchLabelR,.switchLabelR2{
	width:39px;
	height:28px;
	float:left;
	background-color:#ffffff;
	cursor:pointer;
}

.switchs{
	float: left;
	margin-top: 10px;
	margin-left: 11px;
}
.marcotriangulo {
width: 25px;
height: 17px;
border: 1px solid gray;
margin: -1px;
padding-top: 10px;
background-color: #E6E6E5;
margin-top: 5px;
margin-left: -8px;
}
.triangulo_inf {
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 8px solid #666665;
margin-left: 8px;
}
.ui-datepicker {  
    width: 216px;
    height: 190px;
   	border: 2px solid silver;
}
/* Misestilos agregados a otras cuentas */

.boldred {
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	color:red;
	font-size:11px;
	width:650px;
	margin-bottom: 19px;

}
.ui-state-default, .ui-widget-content .ui-state-default{
	font-size: 10px;
}
.contentSlider{
	display: none;
}
.ico{
	width: 30px;
	height: 30px;
	background-size: 100% 100%;
	background-image: url('../../../../img/iconos/calendarioNo.png');
}
.icoNormal{
	background-image: url('../../../../img/iconos/calendario.png');
}