
.w8_EC_contenidodatos1 {
background: #efefef;
float: left;
width: 540px;
height: 190px;
}

.w8_EC_contenidodatos2 {
background: #efefef;
float: left;
margin-left: 10px;
width: 174px;
height: 190px;
}


.w8_EC_contenidodatos1 p:nth-of-type(1) {
	float: left;
	margin-left: 10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	margin-bottom: 7px;
	margin-top: 8px;
	}

.w8_EC_contenidodatos1 p:nth-of-type(2) {
	float: left;
	margin-left: 10px;
	margin-top:-6px;
	margin-bottom: 7px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	}



#w8_EC_autocompleteQ  {
width:496px; 
height:25px; 
border:1px solid #989898; 
border-right: 0px; 
outline:0px;
margin-top:0px; 
margin-left:8px;
margin-bottom:15px; 
border-radius: 4px 0 0 4px;
}

.w8_EC_sexycombo span {
font-weight:bold;
margin-left:0px;
position: relative;top: 3px;
left: -27px;
}
.w8_EC_marcotriangulo {
margin-top: -44px;
margin-left: 505px;
float: left;
height: 27px;
width: 24px;
border-left: 0px;
border-right: solid 1px #989898;
border-bottom: solid 1px #989898;
border-top: solid 1px #989898;
border-radius: 0 4px 4px 0;
}

.triangulo_inf {
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 8px solid #666665;
margin-left: 5px;
margin-top: 10px;
}

.w8_EC_marcocalendar {
margin-top: -32px;
margin-left: 140px;
float: left;
height: 30px;
width: 24px;
border-left: 0px;
border-right: solid 1px #989898;
border-bottom: solid 1px #989898;
border-top: solid 1px #989898;
border-radius: 0 4px 4px 0;
}

.w8_EC_marcocalendar img{
	margin-top: 8px;
	margin-left: 4px;
	}
.w8_EC_contenidodatos2 p:nth-of-type(1) {
	float: left;
	margin-left: 10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	margin-bottom: 7px;
	margin-top: 7px;
	}

	.w8_EC_contenidodatos2 p:nth-of-type(2) {
	float: left;
	margin-left: 10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	margin-bottom: 0px;
	margin-top: 5px;
	}

	.w8_EC_contenidodatos2 p:nth-of-type(3) {
	float: left;
	margin-left: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 10px;
	margin-bottom: 5px;
	}


.w8_EC_inputtext {
	float: left;
	margin-left: 10px;
	margin-top: 25px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	margin-bottom: 7px;
}

.w8_EC_inputtext2 {
	float: left;
	margin-left: 10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	margin-bottom: 7px;
	width: 148px;
}


	/***switch**/



.w8_EC_switchCont{
	width:430px;
	height:40px;
	margin-right:-340px;
	float:right;
	margin-top:0px;
}

.w8_EC_switchCont p{
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	float:left;
	font-weight:bold;
	margin-left:10px;
	margin-top:5px;
}

#w8_EC_switchBox{
	border:1px #a6a6a6 solid;
	width:78px;
	height:28px;
	margin:-157px 85px 0 10px;
	float:right;
	position:relative;
	overflow:hidden;
}

.w8_EC_switchSlide,.w8_EC_switchSlide2{
	float:left;
	width:120px;
	position:absolute;
	left:-39px;
}

.w8_EC_switchIndicador{
	width:37px;
	height:26px;
	float:left;
	background-color:#ff0000;
	border:1px #c9c9c9 solid;
	border-radius:5px;
}

.w8_EC_switchLabel,.w8_EC_switchLabel2{
	width:39px;
	height:28px;
	float:left;
	background-color:#ffffff;
	cursor:pointer;
}

.w8_EC_switchLabelR,.w8_EC_switchLabelR2{
	width:39px;
	height:28px;
	float:left;
	background-color:#ffffff;
	cursor:pointer;
}

.w8_EC_switchs{
	float: left;
	margin-top: 10px;
	margin-left: 11px;
}

.w8_DC_contenidodatos {
background: #efefef;
float: left;
margin-left: 10px;
width: 170px;
height: 50px;
}

input[type=text] {
width: 218px;
margin-top: 30px;
}

.tabletext  {
	width: 480px;
	height: 50px;
	margin-top: -15px;
		
}
 #concept {
 	float: left;
 	margin-right: -8px;
 	margin-top: 8px;
 }
.textboxdos  {
	float:left;
	margin-left:-47px;
	margin-top:31px;
	background-color: red;

}