@import url("../../../../css/bloqueo.css");
@import url("../../../../css/steps.css");
@import url("../../../../css/generally.css");
@import url("../../../../css/componentes.css");

.contenidoFlujo{
	border:none !important;
	width:735px !important;
}

.wra_flu1>.btnaceptar{
	float:right;
	width:160px;
}


.w16_PS_cardList{
	color: #626262;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	width: 100%;
	height: auto;
	border-top: none;
	float:left;
	border-collapse: separate;
	border-spacing: 0px 10px;
}

.w16_PS_cardList td{
	height:30px;
}

.w16_PS_cardList tr{
	background-color:#ffffff;
}

.w16_PS_cardList tr:hover{
	background-color:#cccccc;
	cursor: pointer;	
}	

.w16_PS_cardList td:first-of-type{
	width:125px;
	padding-left:15px;
}
.w16_PS_cardList td:nth-of-type(2){
	width:130px;
	padding-left:15px;
}

.w16_PS_cardList td:nth-of-type(3),.w16_PS_cardList td:nth-of-type(4) {
	padding-left:10px;
	width:105px;
}


.w16_PS_cardList td:nth-of-type(5),.w16_PS_cardList td:nth-of-type(6),.w10_PS_cardList td:nth-of-type(7){
	padding-left:10px;
	width:103px;
}

.w16_PS_headerTabla{
	width:100%;
	float:left;
	text-align:left;
	margin-top: 10px;
	height: 30px;
	color:#282828;
	font-size:11px;
	font-weight:bold;
}

.w16_PS_headerTabla td:first-of-type{
	width:128px;
	padding-left:13px;
}

.w16_PS_headerTabla td:nth-of-type(2){
	width: 124px;
}

.w16_PS_headerTabla td:nth-of-type(3){
	width:107px;
}

.w16_PS_headerTabla td:nth-of-type(4){
	width:104px;
}

.w16_PS_headerTabla td:nth-of-type(5){
	width:106px;
	padding-left:5px;
}

.w16_ABTT_ayuda{
	position:absolute;
	bottom:0;
	left:8px;
}

.w16_ABTT_ayuda p{
	color: #282828;
	font-family: 'ArialBlack';
	font-size: 11px;
	position: absolute;
	left: 12px;
	bottom: 185px;
}

.flujo{
	display:none;
}
.wra_flu2>.btnaceptar {
float: right;
width: 160px;
}

.w16_ABTT_wraFormulario{
	width:100%;
	background-color: #efefef;
	height:190px;
	float:left;
	margin:10px 0 0 5px;
	color:#282828;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.w16_ABTT_wraFormulario{
	margin-left:5px;
	float:left;
}


.w16_ABTT_wraFormulario p{
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	float:left;
	font-weight:bold;
	margin-top:5px;
}

.w16_ABTT_wraFormulario div{
	float:left;
	width: 370px;
}

.w16_ABTT_input{
	background-color: #FCFCFC;
	border: 1px solid #C8C8C8;
	box-shadow: 1px 1px 5px #C6C6C6 inset;
	color: #C8C8C8;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
	height: 28px;
	margin: 8px 0 0 5px;
	width: 218px;
	float:left;
	padding:0 0 0 10px;
	border-radius: 5px;
}

.w16_ABTT_inputBloqueado{
	background-color: #D6D2D2;
	border: 1px solid #D6D2D2;
	color: #989898;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
	height: 28px;
	margin: 8px 0 0 5px;
	width: 218px;
	float:left;
	padding:0 0 0 10px;
	border-radius: 5px;
}

.w16_ABTT_wraFormulario>p {
	width: 100%;
	margin:5px 0 10px 10px;
	font-weight: normal !important;
}

.w16_ABTT_wraFormulario div{
	width:240px;
	height:auto;
	float:left;
	margin-left: 5px;
}

.w16_ABTT_wraFormulario div>p{
	width:100%;
	font-weight: bold;
	margin-left:5px;
}

/*--- Estilo para algun espacio necesario---*/
.w16_ABTT_tablaPaso2 table{
	height: 268px;
	width: 376px;
}
