@import url("../../../../css/bloqueo.css");
@import url("../../../../css/steps.css");

.wra_flu1 > .step3{
	display:none;
}

.wra_flu1 > .step2{
	display:none;
}
.wra_flu2{
	display:none;
}

.wra_flu3{
	display:none;
}

.wra_flu4{
	display:none;
}
.contenidoFlujo {
	height: 480px;
}
.titFlujo {
	height: 42px;
}
.titFlujo .titulo {
margin-top: 10px;
}

.w20_DC_subtitulo2 {
	float: left;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 58px;
	margin-left: 10px;
}

.w20_DC_contenidodatos {
background: #efefef;
float: left;
width: 100%;
height: 40px;
padding: 10px 0 0 20px;
margin-bottom: -50px;
margin-top: 5px;
}
.w20_DC_contenidodatos img{
	float:left;
	}

.w20_DC_contenidodatos p:nth-of-type(1){
	float: left;
	color:#656565;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 0px;
	margin-left: 62px;
}

.w20_DC_contenidodatos p:nth-of-type(2){
	float: left;
	color:#656565;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 0px;
	margin-left: 57px;
	}

.w20_DC_contenidodatosdo {
background-color: #FFFFFF;
float: left;
width: 100%;
height: 48px;
margin-top: 10px;

}

.w20_DC_contenidodatosdo p:nth-of-type(1){
float: left;
	color:#44443e;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 10px;
	margin-left: 10px;	
}

.w20_DC_contenidodatosdo p:nth-of-type(2) {
float: left;
	color:#848484;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 10px;
	margin-left: 20px;	
}

.w20_DC_contenidodatosdo p:nth-of-type(3){
float: left;
	color:#44443e;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 10px;
	margin-left: 24px;	
}
.w20_DC_contenidodatosdo p:nth-of-type(4){
float: left;
	color:#848484;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 10px;
	margin-left: 24px;	
}

/*---- Estilos flujo 1 ----*/
.w20_DC_consulta{
	width:725px;
	float:left;
	text-align: 
	justify;
	/*border:1px #c7c7c7 solid;*/
	margin-left: 11px;
	margin-top: 0px;
	height: 30px;
}


.w20_DC_consulta td:nth-of-type(1){
	float: left;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 4px;

}

.w20_DC_consulta td:nth-of-type(2){
	float: left;
	margin-left: 63px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 4px;

} 

.w20_DC_consulta td:nth-of-type(3){
	float: left;
	margin-left: 76px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 4px;

}

.w20_DC_consulta td:nth-of-type(4){
	float: left;
	margin-left: 48px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 4px;

}

.w20_DC_consulta td:nth-of-type(5){
	float: left;
	margin-left: 33px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 4px;

} 

.w20_DC_consulta td:nth-of-type(6){
	float: left;
	margin-left: 27px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 4px;

}

.w20_DC_cuadroTarjeta{
	width: 100%;
	height:210px; 
	overflow:scroll; 
	overflow-x: 
	hidden;
	float: left;	
	margin-top: -10px;
	
}

.w20_DC_cardList{
	color: #626262;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	width: 705px;
	height: auto;
	border-top: none;
	float:left;
	border-collapse: separate;
	border-spacing: 0px 10px;
}

.w20_DC_cardList td{
	height:30px;
}

.w20_DC_cardList tr{
	background-color:#ffffff;
}

.w20_DC_cardList tr:hover{
	background-color:#cccccc;
	cursor: pointer;	
}	

.w20_DC_deshabilitado{
	opacity:0.5;
}

.w20_DC_cardList td:nth-of-type(2){
	width:92px;
	margin-left: 10px;
	float:left;
}

.w20_DC_cardList td:nth-of-type(3),.w4_PS_cardList td:nth-of-type(4) {
	padding-left:10px;
	width:185px;
}


.w20_DC_cardList td:nth-of-type(5),..w20_DC_cardList td:nth-of-type(6),.w20_DC_cardList td:nth-of-type(7){
	padding-left:10px;
	width:103px;
}

.w20_DC_cardList td:nth-of-type(6) p{
	width:60px;
}

.w20_DC_cardList td:nth-of-type(7) p{
	width:20px;
}

.w20_DC_servicio{
	margin-left:10px;
	margin-top: 9px;
	float:left;
}

.w20_DC_servicioImg{
	margin-left:10px;
	float:left;
}

.w20_DC_servicioPago p{ 
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	font-family:'Arial';
	font-size:11px;
}

.w20_DC_consultaPS{
	width:705px;
	height: auto;
	float: left;
	margin-left: 11px;
	
}

.w20_DC_consulta_tabla{
	color: #626262;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	width: 704px;
	height: auto;
	border-top: none;
	float:left;
	border-collapse: separate;
	border-spacing: 0px 0px;
}

.w20_DC_consulta_tabla td{
	height:30px;
}

.w20_DC_consulta_tabla tr{
	background-color:#cccccc;
}

.w20_DC_consulta_tabla td:nth-of-type(2){
	width:210px;
}

.w20_DC_consulta_tabla td:nth-of-type(3){
	padding-left:10px;
	width:105px;
}

.w20_DC_consulta_tabla td:nth-of-type(4){
	padding-left:10px;
	width:105px;
}

.w20_DC_consulta_tabla td:nth-of-type(5){
	padding-left:10px;
	width:103px;
}

.w20_DC_consulta_tabla td:nth-of-type(6){
	padding-left:10px;
	width:103px;
}

.w20_DC_consulta_tabla td:nth-of-type(6) p{
	width:60px;
}

.w20_DC_cardList td:nth-of-type(7){
	padding-left:10px;
	width:103px;
}

.w20_DC_cardList td:nth-of-type(7) p{
	width:20px;
}

.w20_DC_contenedor h2{
	font-family: 'ArialBlack';
	font-size: 11px;
	color: #ff0000;
	margin: 10px 0 0 11px;
	float: left;
}

.w20_DC_verLista{
	width: 100px;
	height: 30px;
	background-image: url('../../../../img/assets/Btn_ver_lista.png');
	float: right;
	margin-top: 5px;
	margin-right: -128px;
}


.w8_DC_contenidodatos {
background: #efefef;
float: left;
margin-left: 10px;
width: 170px;
height: 50px;
}


.w8_CC_exportar {
	width: 100px;
	height: 50px;
	float:right;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
}

.w8_AMG_textoabajo {
	margin-top: 50px;
	float: left;
	color:#211915;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-left: 9px;

}
.textbox_CC {
width: 100% !important;
width: 174px !important;
height: 20px !important;
margin-top: 5px;
float: left;
margin-right: 10px;
}
.w15_DdC_tabla2 table{
	width: 416px;
}
.linkEditar{
	color:#ff0000 !important;
	text-decoration: none;
}

/*.btnHeader{
	float: right;
	width: 32px;
	height: 32px;
	cursor: pointer;
	
	
	}*/
.btnHeaderTable{
	height: 24px;
margin: -10px;
padding-top: 10px;
width: 110px;
}
.titTabla{
	margin-bottom:0px;
	padding:10px 10px 5px 30px;
	border:1px solid black;
	border-bottom:0;
	float:left;
	width:678px;
	background:#F4F4F4;
	margin-top:20px;
	height:20px;
	font-weight:bold
}
.titTabla p{
	float:left;
}
.titTabla img{
	float:right;
	margin-top:0px;
	margin-right: 15px;
	cursor: pointer;
}
.wra_Select2{
	width: 230px;
}
.wra_Select{
	width: 232px;
}
.wra_Select input[type=text]{
	background: none repeat scroll 0 0 #EFEFEF;
border: 1px solid #000000;
height: 25px;
text-align: center;
width: 200px;
}
.smallTxt{
	font-size: 10px;
	line-height: 13px;
}
input[type=radio]{
	vertical-align: top;
	margin: 5px
}
.tablaConsulta tr td{
	height: 20px;
}
.dd-select{
	margin-left: 15px;
}
.exitosa{
	color:green;
	text-decoration: underline;
}
.programada{
	color:brown;
	text-decoration: underline;
}
.noexitosa{
	color:red;
	text-decoration: underline;
}
body{
	font-family:arial;
}
.blockcp{
	border-right:1px dotted gray;
	float:left;
	height:100%;
	width:235px;
}
.blockcp > p {
	font-weight:bold;
	font-size:11px;
	margin-bottom:8px;
	margin-left:11px;
	margin-top:6px;
	width:200px;
}
.bockcpcontent {
	height: 250px;
	margin-left: 9px;
	text-align: center;
	width: 225px;
}
.bockcpcontent > p {
	color:#000;
	font-weight:bold;
	font-size:12px;
	margin:6px;
}
.bockcpcontent > table {
	font-size:12px;
}
.bockcpcontent > table tr {
	height:20px;
}
.bockcpcontent > table tr td:nth-child(2){
	font-weight:bold;
}
.titlecp{
	color:#ff0d37;
	font-weight:bold;
	margin-bottom:5px;
}
.boxselectcp {
	border: 1px solid gray;
	color: #535353;
	height: 67px;
	width: 715px;
	overflow: visible;
}
.boxselectcp > p {
	font-weight:bold;
	font-size:11px;
	margin-bottom:8px;
	margin-left:11px;
	margin-top:6px;
}
div > .blockcp:nth-child(3){
	border:0px;
	width:242px;
}
#wrapcp{
	border:1px solid gray;
	color:#535353;
	height:300px;
	width:715px;
}
#myCanvas{
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	#background{
		top: 0; left: 0; z-index: 900; height: 190px; width: 190px; background:url(images/backCircle.png) center; position: absolute;
	}
	#txtBack h4{
		margin:0;
	}
	.esconde{
		visibility: none;
	}
	#tablaDatos{
		text-align:left; height: 80px;margin: 9px 6px;
	}
	#tablaDatos tr{
		height: 14px;
	}
	#tablaDatos tr td{
		font-size:11px;
	}
	.tbl_info td{
		font-size: 10px;
		border-collapse: collapse;
		padding: 0 5px;
	}
	.tbl_info tr{
		height:11px !important;
		font-size: 10px;
		border-collapse: collapse;
	}
	#contenido2{
			display: none;
		}
	#img{
			width: 180px;
			height: 243px;
			background:url("../../../../img/iconos/nip.png");
			margin: 0 auto;
			margin-left: 35%;
		}
		/*#text{
			width: 30%;
			margin: 0 auto;
			text-align: center;
			padding-bottom: 20px;
			margin-top: 20px;
			color: #fff;
			font-weight: bold;
		}*/
		#text{
			width: 30%;
			margin-left: 28%;
			/*margin: 0 auto;*/
			text-align: center;
			padding-bottom: 20px;
			margin-top: 70px;
			color: #fff;
			font-weight: bold;
		}
		#form{
			width: 50%;
			margin: 0 auto;
			padding-top: 15px;
		}
		/*#form input{
			margin: 0 auto;
		}*/
		#form input{
			margin: 0 auto;
			margin-left: 95px;
		}
		#form #token{
			display:block;
			width: 210px;
			height: 25px;
		}
		/*#form #buttons{
			padding-top: 10px;
			width: 250px;
			margin: 0 auto;
			margin-left: 170px;
			
		}*/
		#form #buttons{
			padding-top: 10px;
			width: 320px;
			margin: 0 auto;
			margin-left: 40px;
			display:inline-block;
			
		}
		#form #can, #con{
			margin: 0 auto;
			width: 110px;
			height: 30px;
			border-radius: 8px;
		}

		.gris{
			color:#999999
		}
		.dd-options{

		max-width: 215px;
		margin-left:0px;
		

		}

		#plazoAuto{margin:auto;width:190px;height:190px;position:relative;}
		.btnPlazoAuto{
			position: absolute;
			cursor: pointer;
			width: 13px;
			padding: 8px;
			height: 13px;
			color: #6487ed;
		}


		.btnPlazoAuto span{
			display: none;
		}

		#plazoTxt{
			  width:100px;height:20px;top: 93px;left: 44px;
              color: #6487ed;position: absolute;
		}

