<div class="master-title">
	FAQ
</div>
<ul class="blue-list">
	<li>
		<div class="title blue-title">Why do I need to register?</div>
		<div class="content">By registering, you can earn some really cool rewards just for enjoying your favorite drinks! </div>
	</li>
	<li>
		<div class="title blue-title">How do I join Club Jarritos and create an account?</div>
		<div class="content">o The “Register Here” link is located in the upper right hand corner of the screen and throughout the site. Simply fill out the form and you’re in the club.</div>
	</li>
	<li>
		<div class="title blue-title">Who is eligible?</div>
		<div class="content">	

The program is open to legal residents of the contiguous United States and the District of Columbia (residents of AK, HI and Puerto Rico are not eligible) and who are 13 years and older at the time of enrollment.</div>
	</li>
	<li>
		<div class="title blue-title">Why do I have to be 13 to register?</div>
		<div class="content">Children under the age of 13 are unable to join and cannot provide us with personal information. Please review our Privacy Policy for more information.</div>
	</li>
	<li>
		<div class="title blue-title">Can my school, church, or other organization collect caps as a group? </div>
		<div class="content">Yes! Club Jarritos® is open to everybody!!*</div>
	</li>
	<li>
		<div class="title blue-title">How does Club Jarritos work?</div>
		<div class="content">Simply drink your favorite beverages, look under your cap for points and report your codes online. Once you accumulate points in your online account, you can start redeeming for cool prizes. </div>
	</li>
	<li>
		<div class="title blue-title">Where do I get codes?</div>
		<div class="content">You’ll find codes beneath the caps of Jarritos, Jarritos Kids, Mineragua, Sidral Mundet and Sangria Señorial products. </div>
	</li>
	<li>
		<div class="title blue-title">When do my points expire?</div>
		<div class="content">The Club Jarritos promotion will run through December 31, 2013. </div>
	</li>
	<li>
		<div class="title blue-title">What are the participating brands and how many points is each worth?</div>
		<div class="content">
			Participating Brands: Jarritos®, Jarritos Kids™, Mineragua®, Sangria Señorial® & Sidral Mundet®.Sizes – 
			<ul>
				<li>1.5L 5 points </li>
				<li>Cristal 1 or 2 points </li>
				<li>All other presentations: 1 point. </li>
			</ul>
		</div>
	</li>
	<li>
		<div class="title blue-title">What is the status of my prize?</div>
		<div class="content">Feel free to reach out to the customer care team at 1-866-252-2020 or contact@clubjarritos.com and we’ll be happy to provide you with an update.</div>
	</li>
	<li>
		<div class="title blue-title">How can I contact you?</div>
		<div class="content"></div>
	</li>
</ul>