/*Estilos propios del paso3*/

/*Contenido*/
#widampliado > div:nth-of-type(4){
	
	float:left;
	margin:10px 0 0 10px;
	border:1px #bcbcbc solid;
	width: 480px;
	height: 406px;
	font-family:Arial;
	font-size:11px;
	color:#626262;
	font-weight: bold;
}

#widampliado > div:nth-of-type(4) > div {
float: left;
margin: 10px 0 0 9px;
line-height: 19px;

}

#widampliado > div:nth-of-type(4) > h2{
	margin-left: 10px;
}

.bold{
	color:#242424;
}

.link{
	color:#2c6ef6;
	width:50px;
	float:right;
}

/*---Venta Cruzada---*/
#widampliado > div:nth-of-type(5){
	
	float:left;
	margin:10px 0 0 10px;
	border:1px #bcbcbc solid;
	width:243px;
	height:283px;
	font-family:Arial;
	font-size:11px;
	color:#626262;
}

#widampliado > div:nth-of-type(5) > h2{
	margin:37px 0 0 15px;
	float:left;
}

#widampliado > div:nth-of-type(5) > p{
	margin: 19px 0 0 15px;
	color: #272727;
	float: left;
	font-family: Arial;
	font-size: 17px;
	float: left;
	line-height: 25px;
	font-weight: bold;
}

#widampliado > div:nth-of-type(5) > h3{
	margin:19px 0 0 15px;
	color:#272727;
	float:left;
	font-family: Arial;
	font-size: 11px;
	float:left;
	line-height:20px;
	font-weight: bold;
}

#widampliado > div:nth-of-type(5) > .botonera{
	position:relative;
	margin-top:10px;
}

#widampliado > div:nth-of-type(5) > h4{
	margin:10px 0 10px 0 ;
	float:left;
	color:#ff0000;
	font-family: 'ArialBlack';
	font-size: 11px;
}