/*Estilos propios del paso1*/
/*----Tipos de cuadros / Texto en cuadros----*/
.cuadro{
	float: left;
	margin: 33px 0 0 53px;
	border: 1px #bcbcbc solid;
	border-radius: 5px;
	width: 652px;
	height: 270px;
	font-family:Arial;
	font-size:11px;
	color:#626262;
	font-weight: bold;
}

.cuadroInferior{
	float: left;
	margin: 8px 0 0 54px;
	border: 1px #bcbcbc solid;
	border-radius: 5px;
	width: 652px;
	height: 52px;
	font-family:Arial;
	font-size:11px;
	color:#626262;
	font-weight: bold;
}

.cuadro p{
	margin: 20px 0 0 20px;
}

/*----Fin Tipos de cuadros / Texto en cuadros----*/

/*---- Alineación de datos ----*/
.datos{
	margin: 18px 0 0 70px;
}

.datos2{
	position: absolute;
	margin: 28px 0 0 -2px;
}
/*---- Fin Alineación de datos ----*/

/*----Estilo de dropdown----*/
#myDropdown{
	float: left;
	width: 400;
	font-family:Arial;
	font-size:11px;
	color:#626262;
	font-weight: bold;
}
/*----Fin Estilo de dropdown----*/

/*----Estilo de Textos*/
.espacio{
	margin-left:100px;
}

.espacio2{

	margin-right:189px;
}

.espacio3{
	float: left;
	width: 291px;
	margin-top: 38px;
	margin-left: 10px;
	font-family:Arial;
	font-size:11px;
	color:#626262;
	font-weight: bold;
}

.termino{
	width: 400px;
	float: left;
	margin-top: 68px;
	margin-left: 11px;
	font-family:Arial;
	font-size:11px;
	color:#626262;
	font-weight: bold;
}
/*----Fin Estilo de Textos*/

/*----Estilos de cuadros en tarjetas----*/
.contenedorTarjetas{
	float: left;
	width: 500px;
	height: 146px;
	margin: 48px  0 0 19px;
	/*display: inline-flex;*/
}

.sobre{
	float: right;
	margin-right: 578px;
}



.img{
	width: 167px;
	height: 100px;
	float: left;
	position: relative;
	margin: 10px;
	cursor: pointer;
}


.eTarjetas{
	margin-right:30px;
}



.divT1:hover{
	border: 3px #bcbcbc solid;
	border-radius: 5px;
	width: 190px;
	height: 121px;
}




/*---- Paso 1 con diferente paso de lista (Tarjetas)----*/
.cuadroMas{
	float: left;
	margin: 33px 0 0 53px;
	border: 1px #bcbcbc solid;
	border-radius: 5px;
	width: 652px;
	height: 310px;
	font-family:Arial;
	font-size:11px;
	color:#626262;
	font-weight: bold;
}

.cuadroMas p{
	margin: 20px 0 0 20px;
}


.divTarjetaInfo:hover{
	border: 3px #bcbcbc solid;
	border-radius: 5px;
	width: 190px;
	height: 200px;
}


.contenedorTarjetasInfo{
	float: left;
	width: 609px;
	height: 227px;
	margin: 1px  0 0 19px;
	display: inline-flex;
}

#radbtns {
    float: left;
    height: 20px;
    margin-left: 290px;
    margin-top: 5px;
    width: 70px;
}
#rdbtn1{
	width:18px;
	height:16px;
	border-radius:10px;
	border:1px #838383 solid;
	text-align:center;
	padding-top:2px;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	margin-left:15px;
}

#rdbtn2{
	width:18px;
	height:16px;
	border-radius:10px;
	border:1px #838383 solid;
	text-align:center;
	padding-top:2px;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	margin-left:15px;
}

.rdselect{
	color:white;
	width:18px;
	height:16px;
	border-radius:10px;
	border:1px #838383 solid;
	text-align:center;
	padding-top:2px;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	margin-left:15px;
	background-color:#838383;
	
}



#rdbtn1:hover{
	background-color:#838383;
	color:white;
	cursor:pointer;
}

#rdbtn2:hover{
	background-color:#838383;
	color:white;
	cursor:pointer;
}

.textoOrdenado{
	float: left;
	margin: 22px 0 0 -36px;
}

#Dropdown{
	float: left;
	width: 400;
	margin: 32px 0 0 -2px;
	font-family:Arial;
	font-size:11px;
	color:#626262;
	font-weight: bold;
}
/*---- Fin Paso 1 con diferente paso de lista (Tarjetas)----*/

