@import url("../../../../css/bloqueo.css");
@import url("../../../../css/steps.css");
@import url("../../../../css/generally.css");
@import url("../../../../css/componentes.css");

.titFlujo{
	width:725px !important;
	height:auto !important;
	overflow:visible !important;
}

.btnheader>img{
	display:none;
}
.paso2{
	display:none;
}

.wra_flu2{
	display:none;
}

.contenidoFlujo{
	border:none !important;
	width:735px !important;
	height:475px !important;
}

.step1 .titFlujo>div:first-of-type{
	margin-top:5px;
}

.step1 .titFlujo>div:nth-of-type(2) {
	width: 245px;
	float: left;
	margin-top: 14px;
	color: red;
}

.w10_HPG_miniBanner{
	float:left;
	width:197px;
	height:43px;
	background-image:url('../img/titPrograma_1.png');
	background-size:100% 100%;
}
.w10_HPG_wra_Select3{
	float:left;
	margin:7px 0 0 10px;
}

.w10_HPG_seleccionTarjeta {
	width: 100%;
	height: 70px;
	float: left;
	background-color: #EFEFEF;
	font-family: Arial, Helvetica, sans-serif;
	color: #272727;
	font-size: 11px;
	margin-top: 10px;
}

.w10_HPG_tarjeta {
	width: 52px;
	height: 32px;
	float: left;
	overflow: hidden;
	background-image: url('../img/card_1.png');
	background-size: 100% 100%;
	margin: 9px 0 0 10px;
}
.w10_HPG_tarjeta img:nth-of-type(2){
	display:none;
}

.w10_HPG_seleccionTarjeta p{
	float:left;
	width:100%;
	margin:10px 0 0 20px;
	font-weight:bold;
}

.w10_HPG_seleccionTarjeta img{
	margin:10px 0 0 20px;
	float:left;
}

.w10_HPG_infoPuntos{
	color:#4d4d4d !important;
	float:left;
	margin:5px 0 0 30px;
}

.w10_HPG_infoPuntos tr:nth-of-type(2){
	font-style:italic;
}

.w10_HPG_infoPuntos td:first-of-type{
	width:60px;
}

.w10_HPG_infoPuntos td:nth-of-type(2), .w10_HPG_infoPuntos td:nth-of-type(3){
	width:125px;
}


.w10_HPG_wra_Select{
	float:left;
	margin:10px 0 0 10px;
}


.dd-select{
	height:28px;
	border-radius:0;
	border-color:#a6a6a6;
	background-color:#f7f7f7;
	font-family:'ArialBlack';
	font-size:10px;
	color:#4573ec;
	padding-top:0px;	
}

.dd-selected{
	font-size:11px;
	text-align: center;
	font-family:'ArialBlack';
	font-size:10px;
	color:#4573ec;
}

.dd-option{
	height:23px;
	padding:5px 0 0 10px;
	font-family:'ArialBlack';
	font-size:10px;
	color:#4573ec;
	text-align: center;
}

.dd-pointer-up {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-image: url('') none !important;
    border-left-style: solid !important;
	border-left-color: rgba(0, 0, 0, 0) !important;
	border-left-width: 2px !important;
	border-right-style: solid !important;
	border-right-color: rgba(0, 0, 0, 0) !important;
	border-right-width: 2px !important;
	border-top-style: solid !important;
	border-top-color: rgba(0, 0, 0, 0) !important;
	border-top-width: 2px !important;
	border-bottom-style: solid !important;
	border-bottom-color: #626262 !important;
	border-bottom-width: 2px !important;
}

.dd-pointer-down {
    border-left: 2px solid rgba(0, 0, 0, 0);
	border-top: 2px solid #626262;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: url('') none;
    border-right: 2px solid rgba(0, 0, 0, 0);
    }

.dd-option:hover{
	border-color:#ff0000;
	color:#ff0000
}

.w10_HPG_personalizarIntervalo{
	float:left;
	width:143px;
	height:21px;
	background-color:#FBFBFB;
	border:1px #C2C0C0 solid;
	box-shadow: 1px 1px 2px #E1E1E1;
	border-radius:5px; 
	margin:10px 0 0 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#4d4d4d !important;
	font-style:italic;
	padding:7px 0 0 10px;
	position:relative;
}
.w10_HPG_personalizarIntervalo>div{
	float:right;
	border-left:1px #cfcfcf solid;
	width:24px;
	text-align:center;
	height:21px;
	position:absolute;
	top:0;
	right:0;
	padding-top:7px;	
}

.w10_HPG_personalizarIntervalo>div:hover{
	border-left:1px #ff0000 solid;	
}

.w10_HPG_personalizarIntervalo:hover{
	border-color:#ff0000;
	cursor:pointer;
}

.w10_HPG_limpiar>.btnaceptar{
	float:right;
	width:160px;
}

.w10_PS_cardListSelect{
	background-color: #cccccc !important;
}
.w10_PS_cardList{
	color: #626262;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	width: 100%;
	height: auto;
	border-top: none;
	float:left;
	border-collapse: separate;
	border-spacing: 0px 10px;
}



.w10_PS_cardList td{
	height:30px;
}

.w10_PS_cardList tr{
	background-color:#ffffff;
}

.w10_PS_cardList tr:hover{
	background-color:#cccccc;
	cursor: pointer;	
}	

.w10_PS_cardList td:first-of-type{
	width:125px;
	padding-left:15px;
}
.w10_PS_cardList td:nth-of-type(2){
	width:130px;
	padding-left:15px;
}

.w10_PS_cardList td:nth-of-type(3),.w10_PS_cardList td:nth-of-type(4) {
	padding-left:10px;
	width:105px;
}


.w10_PS_cardList td:nth-of-type(5),.w10_PS_cardList td:nth-of-type(6),.w10_PS_cardList td:nth-of-type(7){
	padding-left:10px;
	width:103px;
}

.w10_PS_servicio{
	margin-left:10px;
	margin-top: 9px;
	float:left;
}

.w10_PS_cuadroTarjeta{
	width: 100%;
	height:220px; 
	overflow:scroll; 
	overflow-x: hidden;
	float: left;	
}

.w10_PS_consulta{
	width:100%;
	float:left;
	text-align:left;
	margin-top: 5px;
	height: 30px;
	color:#282828;
	font-size:11px;
	font-weight:bold;
}

.w10_PS_consulta td:first-of-type{
	width:128px;
	padding-left:13px;
}

.w10_PS_consulta td:nth-of-type(2){
	width: 124px;
}

.w10_PS_consulta td:nth-of-type(3){
	width:107px;
}

.w10_PS_consulta td:nth-of-type(4){
	width:104px;
}

.w10_PS_consulta td:nth-of-type(5){
	width:106px;
	padding-left:5px;
}

.w10_HPG_btnExportar{
	width:93px;
	height:38px;
	border:1px #A7A7A7 solid;
	border-radius:4px;
	float:right;
	margin:8px;
	background-color:#f6f7f7;
	cursor:pointer;
}

.w10_HPG_btnExportar img{
	float:left;
	margin:10px 0 0 10px;
}

.w10_HPG_btnExportar:hover{
	border:1px #ff0000 solid;
}

.w10_HPG_btnExportar p{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#282828;
	text-align:center;
	margin:6px 0 0 10px;
	font-weight:bold;
}

.w10_HPG_ayuda{
	position:absolute;
	bottom:0;
	left:8px;
}

.w10_HPG_ayuda p{
	color: #282828;
	font-family: 'ArialBlack';
	font-size: 11px;
	position: absolute;
	left: 12px;
	bottom: 185px;
}

.w10_IT_inscribirTarjetas{
	color: #6b6b6b;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	border-collapse: collapse;
}

.w10_IT_inscribirTarjetas td{
	border-top:1px #6b6b6b dashed;
	height:105px;
}

.w10_IT_inscribirTarjetas td:nth-of-type(2){
	width:125px;
}

.w10_IT_inscribirTarjetas td:nth-of-type(3){
	width:120px;
}

.w10_IT_inscribirTarjetas td:nth-of-type(4){
	width:180px;
}

.w10_IT_inscribirTarjetas tr{
	background-color: #efefef;
}

.w10_IT_inscribirTarjetas tr:hover{
	background-color: #E2DFDF;
	cursor:pointer;
}

.w10_IT_inscribirTarjetasSelect{
	background-color: #E2DFDF !important;
}

.w10_IT_inscribirTarjetas_seleccionada{
	background-color: #E2DFDF;
	cursor:pointer;
}

.w10_IT_inscribirTarjetas td:first-of-type{
	width:30px;
	border-top:none;
}

.w10_IT_inscribirTarjetas td:nth-of-type(5){
	width:35px;
	border-top:none;
}
/*.flujo{
	display:none;
}*/

.w10_IT_wraLeft{
	width:480px;
	float:left;
}

.w10_IT_wraRight{
	width:230px;
	height:370px;
	float:left;
	margin-left:10px;
	background-image: url("../img/wra_Right.png");
	background-size: 100% 100%
}

.w10_IT_wraLeft>div:first-of-type{
	width:100%;
	float:left;
	height:50px;
	background-color: #efefef;
}

.w10_IT_wraLeft>div:first-of-type>img{
	float:left;
	margin:10px 0 0 10px;
}

.w10_IT_wraLeft>div:first-of-type>p{
	float:left;
	margin:15px 0 0 10px;
	color:#272727;
	font-family: 'ArialBlack';
	font-size:11px;
}

.w10_IT_inscribirTarjetas .w10_HPG_wra_Select2{
	margin-top: -35px;
	margin-left:20px;
	width:160px;
}

.wra_flu2>.btnaceptar {
float: right;
width: 160px;
}

.linkEditar{
	color:#ff0000;
	text-decoration: none;
}

.tableStep3{
	height:auto;
}