#widreducido1x2{
	margin:0px !important;
}
#tarjeta_wr{
	width:50px;
	height:40px;
	float:left;
}

#widreducido1x2 > div:first-of-type p {
margin-top: 5px;
margin-left: 15px;
font-family: 'ArialBlack';
color: #282828;
font-size: 12px;
float: left;
width: auto;
}

#widreducido1x2 p{	
    color: #626262;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    margin: 10px 0 0 15px;
    width: 233px;
}

#widreducido1x2 p:nth-of-type(2){	
    color:#282828;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin:10px 0 0 10px;
	float:left;
}

.wra_Select_wr{
	float:left !important;
	box-shadow: 1px 1px 2px #E1E1E1;
	margin:5px 0 0 10px;

}

/*.dd-select{
	height:28px;
	border-radius:0;
	border-color:#a6a6a6;
	background-color:#f7f7f7;
	font-family:'ArialBlack';
	font-size:10px;
	color:#4573ec;
	padding-top:0px;
	
}

.dd-selected{
	font-size:11px;
	text-align: center;
	font-family:'ArialBlack';
	font-size:10px;
	color:#4573ec;
}

.dd-option{
	height:23px;
	padding:5px 0 0 10px;
	font-family:'ArialBlack';
	font-size:10px;
	color:#4573ec;
	text-align: center;
}

.dd-pointer-up {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-image: url('') none !important;
    border-left-style: solid !important;
	border-left-color: rgba(0, 0, 0, 0) !important;
	border-left-width: 2px !important;
	border-right-style: solid !important;
	border-right-color: rgba(0, 0, 0, 0) !important;
	border-right-width: 2px !important;
	border-top-style: solid !important;
	border-top-color: rgba(0, 0, 0, 0) !important;
	border-top-width: 2px !important;
	border-bottom-style: solid !important;
	border-bottom-color: #626262 !important;
	border-bottom-width: 2px !important;
}

.dd-pointer-down {
    border-left: 2px solid rgba(0, 0, 0, 0);
	border-top: 2px solid #626262;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: url('') none;
    border-right: 2px solid rgba(0, 0, 0, 0);
    }

.dd-option:hover{
	border-color:#ff0000;
	color:#ff0000
}*/

/*Pago de Servicios*/
.servgrid{
	border-collapse:collapse;
	margin:10px 0 0 10px;
	border:1px red solid;
	
}

.servgrid td{
	width:72px;
	height:72px;
	border:1px #a6a6a6 solid;
}

.servgrid td:hover{
	cursor:pointer;
}


.imgservicio{
	float:left;
	margin:6px 0 0 6px;
}

#carruselServicios{
	width:224px;
	height:28px;
	float:left;
	height:28px;
	border-bottom:1px #a6a6a6 solid;
	border-left:1px #a6a6a6 solid;
	border-right:1px #a6a6a6 solid;
	background-color:#f7f7f7;
	font-family:'ArialBlack';
	font-size:10px;
	padding-top:0px;
	margin-left:10px;
	box-shadow: 1px 1px 2px #E1E1E1;
}
.selector{
	width:17px;
	height:16px;
	border-radius:9px;
	border: 1px #F7F7F7 solid;
	float:left;
	margin: 4px 0 0 21px;
	color:#626262;
	font-family:'ArialBlack';
	font-size:11px;
	font-weight:bold;
	text-align: center;
}

.selector:hover{
	cursor:pointer;
}
.carselect{
	color:#ff0000;
	border:1px #ff0000 solid;
}

.servselect{
	border-bottom:1px #ff0000 solid;
}

#widreducido1x2 div:nth-of-type(3) p{
	color:#a6a6a6;
	float:left;
}

.busqueda {
    color: #626262;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.busqueda p{
	color: #626262 !important;
	font-family: Arial !important;
	font-size: 11px !important;
	font-weight: bold !important;
	margin: 10px 0 0 10px !important;
	width: 233px !important;
}


/*input[type="text"] {
    background-color: #E8E8E8;
    border: 1px solid #A4A4A4;
    box-shadow: 1px 1px 5px #C6C6C6 inset;
    color: #A4A4A4;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    margin-top: 8px;
    text-align: center;
    width: 203px;
    margin:5px 0 0 10px;
}*/

/*Por el conflicto que causaba los input, ya que se esta utilizando clases,
esta clase serviria para acomodar el select con propiedad de autocomplete 
--- se deberia poner en el general ? ----
*/
.acomodo{
	margin: 5px 0 0 -3px;
}
/*Fin Pago de Servicios*/