#bloqueoWidget {
	background: #000000;
	height: 100%;
	opacity: 0.8;
	width: 100%;
	/*display  none*/
}
.bloqueoElement { display: none; position: absolute; z-index: 1000; }
#elementBloqueo {
	background: #E2DFDF;
	box-shadow: 0 0 15px black;
	left: 25%;
	overflow: hidden;
	padding: 10px;
	width: 350px;
}
#elementBloqueo .btnaceptar { width: 155px; }
#elementBloqueo .btnaceptar:last-child { margin-left: 15px; }



/*BLOQUEO DE TOKEN*/

#tokenInput {
	background: #EFEFEF;
	height: 90px;
	margin-top: 5px;
	overflow: hidden;
	padding: 10px;
	width: 330px;
}
#tokenInput p { font-weight: bold; }
#tokenInput p, #tokenInput input { margin: 0; }

#tokenInput input[type="text"] { background: white; border: 1px solid #ccc; height: 25px; }
/* FIN BLOQUEO DE TOKEN*/

