	
		tr td{
			width: 40%;
		}
		#contenido{
			background: #fff;
		}

		#btn_select{
			width: 150px;
			height: 30px;
			float: right;
			margin-bottom: 10px;
			background: grey;
			border-radius: 10px;
			text-align: center;

		}
		.fondocl{
			background:silver;	
			
		}
		#btn_select #btn_left{
			width: 74px;
			height: 30px;
			float: left;
			border-right: 1px #fff solid;
			border-radius: 10px 0px 0px 10px;
			/*background: -webkit-linear-gradient(top,silver,grey);*/
		}
		#btn_select #btn_right{
			width: 74px;
			height: 30px;
			float: right;
			border-radius: 0px 10px 10px 0px;
			/*background: -webkit-linear-gradient(top,silver,grey);*/
		}
		#btn_select #btn_right p{
			margin-top: 5px;
			font-size: 10px;
			cursor: pointer;
		}
		#btn_select #btn_left{
			font-size: 10px;
			cursor:pointer;
			
		}
		#circulos{
			width: 230px;
			height: 100%;
			margin-left: 35%;
		}
		#circulos .c1{
			position: relative;
			top: 6px;
			width: 22px;
			height: 22px;
			border-radius: 100%;
			background: #fff;
			display: inline-block;
			margin-right: 50px;
			border:solid 1px silver;
		}
		#c2{
			width:20px; 
			height:20px; 
			border-radius:100%; 
			margin: 0 auto; 
			border:solid 1px silver;
		}
		#circulos #seleccionado{
			background: #000;
		}
		.botonera{
			
			margin-top: 20px;
		}
		.botonera .btn{
			width: 30%;
		}
		 .tit{
			color: grey;
		}
