@import url('../../css/widgets.css');
@import url('../../css/componentes.css');

#contenido{
	background-color:white;
}

.transf{
	border:2px #a1a1a1 solid;
	width:300px;
	border-collapse:collapse;
}

.transf tr:nth-child(even) {
	background-color:#BFBFBF;
	}

.transf tr{
	
}






	
