/*trabajando*/
*{
                font-family: Arial, Helvetica, sans-serif;
                margin: 0;

}

h1,h2,h3,h4,h5{
        margin-bottom: 10px;
}

p{}


#titulo {
        background-color: #E8E8E8;
        border-right:1px solid black;
        width: 154px;
        height: 45px;
        padding: 10px;
        float: left;
}
.f_titleWid{
        font-size: 13px;
        font-weight: bolder;
}

.f_titleWidred{
        font-size: 12px;
        font-weight: bolder;
        float:left;
}
#header {
        background-color: #E8E8E8;
        width: 760px;
        height: 35px;
        float: right;
        border-bottom:1px solid black;
}
#contenido {
     float: right;
     height: 465px;
     padding: 20px;
     position: relative;
     width: 720px;
}
.wra_Select{
                margin-top: 20px;
                float:left;
                width:240px;
        }

.wra_Select2{
                margin-top: 5px;
                float:left;
                width:100%;

        }

.wra_Select3{
                margin-top: 10px;
                float:left;
                width:580px;
        }

.wra_Select3 input{
                margin-top: 20px;
                float:left;
                width:100%;
        }

 .botonestrella-on{
			width:35px;
			height:23px;
			margin:-4px;
			border-top:1px solid gray;
			border-bottom:1px solid gray;
			border-right: 1px solid gray;
            padding-top:4px;
            cursor: pointer;
          
        

            
			}



.marcotriangulo {
            width:25px;
            height:17px;
            border:1px solid gray;
            margin:-1px;
            padding-top:10px;
            background-color: #E6E6E5;

           
        
        }

.triangulo_inf {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #000;
    margin-left:8px;
        
}

.ui-autocomplete ui {
     display: none;
    font-size: 13px;
    left: 682px;
    max-height: 201px;
    overflow-y: scroll;
    top: 113px;
    width: 452px;
}



.txtwidred{
	background-color:FFFFFF;
	width:100%;
	float:left;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	padding:7px 0 0 10px;
	text-align:left;
}

.content2espacios {
	height:350px;
	width:200px;
	backgroun-color:red;
}
