.btn_wr,.btnaceptar_wr{
	width:223px !important;
}
#widreducido1x1{
	width:243px !important;
	height:281px !important;
	margin:0px !important;
}

#widreducido1x1 > div:nth-of-type(2){
	border-bottom:1px #bbbbbb solid;
	height:25px;
}

#widreducido1x1 > div:nth-of-type(2) p{
	margin:10px 0 0 15px;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	color:#626262;
}

#framebox{
	width:220px;
	height:113px;
	margin:10px 0 0 10px;
	float:left;
}

#framebox p{
	font-size: 15px;
	font-family: 'ArialBlack';
	color: #272727;
	text-align: center;
	line-height: 27px;
}

#framebox div{
	width:221px;
	height:113px;
	background-image:url("../img/money.png");
	background-size: 100% 100%;
	display:none;
}