.stepWrapp{
		float: left;
		width: 750px;
		height: 515px;
		overflow: hidden;
	}
	#step2 .prinContent{
		border: 1px solid #BCBCBC;
		color: #626262;
		float: left;
		font-family: Arial;
		font-size: 11px;
		height: 220px;
		margin: 10px 0 0 10px;
		width: 730px;
	}
	#step2 .prinContent > div{
			float: left;
		height: 20px;
		line-height: 19px;
		margin: 10px 0 0 10px;
		width: 206px;
			}



#step3 .prinContent .div1{
	float:left;
	margin:10px 0 0 10px;
	border:1px #bcbcbc solid;
	width:480px;
	height:auto;
	font-family:Arial;
	font-size:11px;
	color:#626262;
	font-weight: bold;
}
		#step3 .prinContent .div1 > div{
			width: 206px;
			float: left;
			margin:10px 0 0 10px;
			line-height: 19px;
		}
		#step3 .prinContent .div1 > div img{
			cursor: pointer;
float: left;
height: 66px;
margin: 29px;
position: relative;
width: 93px;
		}
#step3 .prinContent .div1  > h2{
	margin-left: 10px;
}
#step3 .prinContent .div2 {
	float:left;
	margin:10px 0 0 10px;
	border:1px #bcbcbc solid;
	width:243px;
	height:283px;
	font-family:Arial;
	font-size:11px;
	color:#626262;
}
#step3 .prinContent .div2 > h2{
	margin:37px 0 0 15px;
	float:left;
}
#step3 .prinContent .div2 > p{
	margin: 19px 0 0 15px;
	color: #272727;
	float: left;
	font-family: Arial;
	font-size: 17px;
	float: left;
	line-height: 25px;
	font-weight: bold;
}
#step3 .prinContent .div2 > h3{
	margin:19px 0 0 15px;
	color:#272727;
	float:left;
	font-family: Arial;
	font-size: 11px;
	float:left;
	line-height:20px;
	font-weight: bold;
}
#step3 .prinContent .div2 > .botonera{
	position:relative;
	margin-top:10px;
}
#step3 .prinContent .div2 > h4{
	margin:10px 0 10px 0 ;
	float:left;
	color:#ff0000;
	font-family: 'ArialBlack';
	font-size: 11px;
}