@import "../../../../css/widgets.css";
@import url('../../../../css/componentes.css');


h4{
	color:red;
}

h5{
	margin-bottom:3px;
}

h6{
	margin:3px 0px 0px 10px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
}
h7 {
	margin: 10px 0px 0px 10px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	width: 250px;
}

#widampliado {
	background-image:url('../../../../img/grid.png');
}
/*---- Estilo Flujo: Pago de servicios ----*/

.radiobtnPago {
	width:18px;
	height:18px;
	border:1px #ff0000 solid;
	float:left;
	border-radius:10px;
	cursor:pointer;
	margin-left: 8px;
	top:6px;
}

.radiobtnPago_select{
	background-image: url(../img/Indicador.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:18px;
	height:18px;
	border:1px #ff0000 solid;
	float:left;
	border-radius:10px;
}

.servicio{
	margin-left:10px;
	float:left;
}

.consulta td:nth-of-type(1){
	float: left;
	margin-left: 36px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;

}

.consulta td:nth-of-type(2){
	float: left;
	margin-left: 65px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;

} 

.consulta td:nth-of-type(3){
	float: left;
	margin-left: 72px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;

}

.consulta td:nth-of-type(4){
	float: left;
	margin-left: 48px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;

}

.consulta td:nth-of-type(5){
	float: left;
	margin-left: 24px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;

} 

.consulta td:nth-of-type(6){
	float: left;
	margin-left: 24px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;

}  

.cardList {
	color: #626262;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	width: 730px;
	height: auto;
	border-left: 1px #c7c7c7 solid;
	border-top: none;
	border-collapse: collapse;
	float:left;
}

.cardList th{
	color:#282828;
	height:20px;
	text-align:left;
	padding-left:10px;
	padding-top:5px;
	border-left:1px #c7c7c7 dashed;

}

.cardList th:nth-of-type(2){
	border-left:none;
}

.cardList td{
	height:50px;
}

.deshabilitado{
	opacity:0.5;
}

.cardList td:nth-of-type(2){
	width:210px;
}

.cardList td:nth-of-type(3){
	border-left:1px #c7c7c7 dashed;
	padding-left:10px;
	width:105px;
}

.cardList td:nth-of-type(4){
	border-left:1px #c7c7c7 dashed;
	padding-left:10px;
	width:105px;
}

.cardList td:nth-of-type(5){
	border-left:1px #c7c7c7 dashed;
	padding-left:10px;
	width:103px;
}

.cardList td:nth-of-type(6){
	border-left:1px #c7c7c7 dashed;
	padding-left:10px;
	width:103px;
}

.cardList td:nth-of-type(6) p{
	width:60px;
}

.cardList td:nth-of-type(7){
	border-left:1px #c7c7c7 dashed;
	padding-left:10px;
	width:103px;
}

.cardList td:nth-of-type(7) p{
	width:20px;
}

#pagoServicio p{
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:10px 0 0 15px;
	float:left;
	font-weight:bold;
}

/*-----*/
.dd1{
	float:left;
	margin:5px 0 0 15px;
}

.dd2{
	float:left;
	margin:5px 0 0 10px;
}
.dd3{
	float:left;
	margin:5px 0 0 10px;

}


.cardListC {
	color: #626262;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	width: 730px;
	height: auto;
	border: 1px #c7c7c7 solid;
	margin-left: 15px;
	border-collapse: collapse;
	margin-top:10px;
	float:left;
}

.cardListC th{
	color:#282828;
	height:20px;
	text-align:left;
	padding-left:10px;
	padding-top:5px;
	border-left:1px #c7c7c7 dashed;

}

.cardListC th:nth-of-type(2){
	border-left:none;
}

.cardListC td{
	height:50px;
}

.cardListC tr:nth-of-type(5){
	opacity:.5
}
.cardListC td:nth-of-type(2){
	width:210px;
}

.cardListC td:nth-of-type(3){
	border-left:1px #c7c7c7 dashed;
	padding-left:10px;
	width:105px;
}

.cardListC td:nth-of-type(4){
	border-left:1px #c7c7c7 dashed;
	padding-left:10px;
	width:105px;
}

.cardListC td:nth-of-type(5){
	border-left:1px #c7c7c7 dashed;
	padding-left:10px;
	width:103px;
}

.cardListC td:nth-of-type(6){
	border-left:1px #c7c7c7 dashed;
	padding-left:10px;
	width:103px;
}

.cardListC td:nth-of-type(6) p{
	width:60px;
}

.cardListC td:nth-of-type(7){
	border-left:1px #c7c7c7 dashed;
	padding-left:10px;
	width:103px;
}

.cardListC td:nth-of-type(7) p{
	width:20px;
}

#pagoServicioC{
	float:left;
	width:81%;
}

.inputs{
	margin-left:5px;
	float:left;
}

.inputs h2{
	width:100%;
}

.inputs p{
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	float:left;
	font-weight:bold;
	margin-left:10px;
	margin-top:5px;
}

.inputs div{
	float:left;
	width: 370px;
}

.input{
	background-color: #E8E8E8;
	border: 1px solid #A4A4A4;
	box-shadow: 1px 1px 5px #C6C6C6 inset;
	color: #A4A4A4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	margin-top: 8px;
	text-align: center;
	width: 318px;
	margin: 5px 0 0 10px;
	float:left;
}

.input2{
	background-color: #E8E8E8;
	border: 1px solid #A4A4A4;
	box-shadow: 1px 1px 5px #C6C6C6 inset;
	color: #A4A4A4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	margin-top: 8px;
	text-align: center;
	width: 153px;
	margin: 5px 0 0 10px;
	float:left;
}

.info{
	background-image: url("../../../../img/info.png");
    background-size: 100% 100%;
    float: left;
    height: 20px !important;
    width: 20px !important;
    margin:10px 0 0 10px;
    cursor:pointer;
}

.inputs div:nth-of-type(6) p{
	width:150px;
}

.inputs div:nth-of-type(8) p{
	width:350px;
}

#programar p{
	float:left !important;
	color:#626262 !important;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:11px !important;
	font-weight:bold !important;
	width:100% !important;
}

.input5 {
	width: 83px;
	height: 25px;
	border: 1px solid #A4A4A4;
	box-shadow: 1px 1px 5px #C6C6C6 inset;
	color: #626262;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	float: left;
	margin-left: 10px;
}

.switchCont{
	width:430px !important;
	height:40px !important;
	margin-left:135px !important;
	float:left !important;
	margin-top:15px !important;
}

.switchCont p{
	color:#282828 !important;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:11px !important;
	float:left !important;
	font-weight:bold !important;
	margin-left:10px !important;
	margin-top:5px !important;
}

#switchBox{
	border:1px #a6a6a6 solid !important;
	width:78px !important;
	height:28px !important;
	margin:5px 0 0 10px; !important;
	float:left !important;	
	position:relative !important;
	overflow:hidden !important;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:11px !important;
	font-weight:bold !important;
	text-align:center !important;
	
}

.switchSlide{
	float:left !important;
	width:120px !important;
	position:absolute !important;
	left:0px;
}

.switchIndicador{
	width:37px !important;
	height:26px !important;
	float:left !important;
	background-color:#ff0000 !important;
	border:1px #c9c9c9 solid !important;
	border-radius:5px !important;
}

.switchLabel{
	width:39px !important;
	height:21px !important;
	float:left !important;
	background-color:#ffffff !important;
	cursor:pointer !important;
	color:#626262 !important;
	padding-top:7px !important;
}

.switchLabelR{
	width:39px !important;
	height:21px !important;
	float:left !important;
	background-color:#ffffff !important;
	cursor:pointer !important;
	color:#626262 !important;
	padding-top:7px !important;
}

.dateInput{
	float:left !important;
	width:auto !important;
	margin-top:6px;
}

.dateInputInactive{
	opacity:.3;
}


.dateInput div{
	float:left !important;
	margin-left:10px !important;
	width:30px !important;
	height:30px !important;
	background-image:url('../../../../img/iconos/calendario.png') !important;
	background-size:100% 100% !important;
	cursor:pointer !important;
}

.smackdown2{
	display:none;
}


.smackdown2 div{
	position:absolute;
	left:8px;
	bottom:0px;
}

.smackdown2 h3{
	color:#282828;
	font-family:'ArialBlack';
	font-size:11px;
	position:absolute;
	left:17px;
	bottom:231px;	
}

.smackdown2 p{
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	position:absolute;
	left:17px;
	bottom:166px;
	font-weight:bold;
}

.smackdown div{
	position:absolute;
	left:8px;
	bottom:0px;
}

.smackdown h3{
	color:#282828;
	font-family:'ArialBlack';
	font-size:11px;
	position:absolute;
	left:17px;
	bottom:231px;	
}

.smackdown p{
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	position:absolute;
	left:17px;
	bottom:166px;
	font-weight:bold;
}

.smackdown{
	display:none;
}
/*---- Fin Estilo Flujo: Pago de servicios ----*/












































.tbl_pagoServ{
	width:723px;
	float:left;
	margin-top:10px;
	margin-left: 10px;
	border: 1px solid #A9A9A9;
	margin-bottom: 13px;
}

.scroll_pagoServ{
	height: 285px;
	float: left;
	overflow-y:scroll;
}

.table_pagoServ{
	position: relative;
}

.tbl_pagoServ thead th.text{
	position: absolute;
	z-index:2;
	border:1px solid red;
}

.tbl_pagoServ th{
		background: #efefef;
		text-align: left;
		padding: 10px;
		padding-left: 20px;
		font-size: 12px;

	}

.tbl_pagoServ tr{
	border-collapse:collapse;
}

.tbl_pagoServ td{
	text-align: center;
	padding:5px;
	font-size: 11px;
	border-collapse: collapse; 
}

.tbl_pagoServ tr:nth-child(even){
	background-color: #CCCCCC;
}

#contenido p{
	float:left; 
	margin-top:0px;
}

.serv_ico{
	width:30px;
	height:30px; 
	float:left;
	margin-top:0;
}
.serv_ico:hover{
	cursor:pointer;
}

#infobtn {
	float: right;
	margin: 15px 0 0 10px;
}

#infobtn:hover{
	cursor:pointer;
}


.centradoSwitch{
	float:left;
	margin:14px 0 0 20px;
}

#info {
display: none;
float: left;
left: 297px;
position: absolute;
top: 120px;
z-index: 1;
}

#calico{
	float:left;
	margin:5px 0 0 15px;
}
#calico:hover{
	cursor:pointer;
}

.txtbox{
	margin:3px 0 0 15px;
	float:left;
	width:100px;
}

.txtbox2{
	margin:3px 0 0 10px;
	float:left;
	width:200px;
	color:#999999
}


/*.botonera {
	bottom: -0px;
	float: right;
	right: -235px;
	top: 23px;
}

.botonera3 {
bottom: -86px;
position: relative;
right: 0;
width: 500px;
float: left;
margin-left: 236px;
}

.botonera2 {
    bottom: -50px;
    float: right;
    position: relative;
    right: 0;
}

.botonera4 {
	bottom: -44px;
	float: right;
	position: relative;
	right: -259;
	width: 495px;
}

.botonera5 {
bottom: -219px;
float: right;
right: -205px;
position: relative;
}

.botonera6 {
	bottom: -200px;
	float: right;
	position: relative;
	right: 0;
	width: 495px;
}

.botonera7 {
	bottom: 10px;
	float: right;
	position: absolute;
	right: 21;
	width: 745px;
	margin-left: 236px;
}
*/


.dropdown{
	width: 700px;
	float: left;
	background-color: #EBEDEE;
	margin-top: 19px;
	margin-left: 10px;
	height: 22px;
}
/* Dropdown*/
#downico1{
	float:left;
	margin: 1px 5px 0 10px;
}
#downico2{
	float:left;
	margin: 1px 5px 0 10px;
}
#upico1{
	float:left;
	margin: 1px 5px 0 10px;
	display:none;
}
#upico2{
	float:left;
	margin: 1px 5px 0 10px;
	display:none;
}
#select1{
	display:none;
}
#select2{
	display:none;
}

.dropcontainer{
	height:435px;
	width:715px;
	float:left;
	/*overflow:auto;*/
}
/*end Dropdown*/

#step2{
	display:none;
}

#step3{
	display:none;
}

#step4{
	display:none;
}

#step5{
	display:none;
}

#step6{
	display:none;
}

#step7{
	display:none;
}

#step8{
	display:none;
}

#step9{
	display:none;
}




.btnaceptar:hover{
	cursor:pointer;
	background-image:url('../../lineagrafica/vtabtn.png');
	background-size:100% 100%;
}
.btnaceptar:active{
	background-image:url('../../lineagrafica/widamphdr.png');
	background-size:100% 100%;
}
#return{
	margin:0; 
	padding:0 !important;
	height:30px;
}

#btnreturn {
    background-color: #FFFFFF;
    border: thin solid #F3F3F3;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #808080;
    color: #000000;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    text-align: center;
    width: 225px;
}
#btnreturn2 {
    background-color: #FFFFFF;
    border: thin solid #F3F3F3;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #808080;
    color: #000000;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    text-align: center;
    width: 225px;
}
#btnreturn3 {
    background-color: #FFFFFF;
    border: thin solid #F3F3F3;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #808080;
    color: #000000;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    text-align: center;
    width: 225px;
}


#btnreturn:hover{
	cursor: pointer;
}
#btnreturn2:hover{
	cursor: pointer;
}
#btnreturn3:hover{
	cursor: pointer;
}


/*alta de servicios*/

.servslide{
	height:56px;
	width:54px;
	margin:15px 0 0 10px ;
	background-color:#C2C2C1;
	float:left;
	border-radius: 5px;
}
.cont1{
	height:250px;
	border:1px black solid;
}

.notepodiaacomodar {
	width: 280px;
	float: left;
}

/*  clases para el apartado de ventas cruzadas*/
.transf{
	
	width:708px;
	height:100px;
	border-collapse:collapse;

}



#btn_paso3{
	width: 244px;
	overflow: hidden;
	margin-top:50px;
	position:absolute;
	margin-top: 291px;
	/*margin: auto;*/
	border-left: 1px solid #b9b9b9;
	border-right: 1px solid #b9b9b9;
	border-top: 1px solid #b9b9b9;
	height:93px;

}
 
#btn_paso3 > ul > li:first
{
	font-weight:bolder;
}

#btn_paso3 ul {
	list-style: none;
	/*background: #efefef;*/
	background: #fff;
	width: 100%;
	margin: auto;
	padding: 0 0 0 0;
	font-size: 12px;			
}

#btn_paso3 ul li{
	/*background: url(../img/menuLateral/btn_menu.png);*/
	width: 100%;
	height: 20px;
	padding: 10px 10px 0;
	border-bottom: 1px solid #bbbbbb;
	cursor: pointer; 
	font-size: 9px;
	text-transform: uppercase;
	text-align:left;
}

#btn_paso3 ul li:hover{
	/*background: #e3e3e3;*/
	color:#ff0000;
}

#btn_paso3 ul li > img{
	float: left;
	margin-left: 5px;
	margin-top: -5px
}

.txtbtn_3{
	margin-left: 17px;
}

/* ---- Estilos ----*/
.cuadro{
	width: 15px;
	height: 15px;
	background-color: #7B7B7B;
	float: left;
}

.radioP{
	width: 20px;
	height: 20px;
	background-image: url('../../../../img/iconos/radio.png');
	background-size: 100% 100%;
	cursor: pointer;
}

.txt1{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.sub{
	color: #4a76ec;
	text-decoration: underline; 
	margin-top: 2px;
	cursor: pointer;
	margin-left: 5px;
}

.consulta_pagoServ span {
	margin-left: 10px;
	float: left;
}

.consulta_pagoServ p {
	margin-left: 10px;
	float: left;
}

.input1{
	height:28px;
	font-family:'ArialBlack';
	color: #a4a4a4;
	font-size:11px;
	text-align:center;
	margin-top:8px;
	margin-left: 10px;
	background-color:#e8e8e8;
	box-shadow:inset 1px 1px 5px #c6c6c6;
	border:1px #a6a6a6 solid;
	width: 274px;
}

.input2{
	height:28px;
	font-family:'ArialBlack';
	color: #a4a4a4;
	font-size:11px;
	text-align:center;
	margin-top:8px;
	background-color:#e8e8e8;
	box-shadow:inset 1px 1px 5px #c6c6c6;
	border:1px #a6a6a6 solid;
	width: 223px;
}

.input3{
	height:28px;
	font-family:'ArialBlack';
	color: #a4a4a4;
	font-size:11px;
	text-align:center;
	margin-top:22px;
	margin-left: -39px;
	background-color:#e8e8e8;
	box-shadow:inset 1px 1px 5px #c6c6c6;
	border:1px #a6a6a6 solid;
	width: 223px;
}

.descripcion{
	float: left;
	margin: 10px 0 0 10px;
	border: 1px #bcbcbc solid;
	width: 730px;
	height: 370px;
	font-family: Arial;
	font-size: 11px;
	color: #626262;
	font-weight: bold;
}

.descripcion > div{
	width: 206px;
	height: 20px;
	float: left;
	margin: 10px 0 0 10px;
	line-height: 19px;
}

.paso3{
	border: 1px solid #BCBCBC;
    color: #626262;
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    height: auto;
    margin: 10px 0 0 10px;
    width: 480px;
}

.paso3 > div{
	float: left;
    line-height: 19px;
    margin: 10px 0 0 10px;
    width: 206px;
}

.venta{
	 border: 1px solid #BCBCBC;
    color: #626262;
    float: left;
    font-family: Arial;
    font-size: 11px;
    height: 283px;
    margin: 10px 0 0 10px;
    width: 243px;
}

.venta p{
	color: #272727;
    float: left;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
    margin: 19px 0 0 15px;
}

.venta h4{
	margin: 28px 0 10px 0;
	float: left;
	color: #ff0000;
	font-family: 'ArialBlack';
	font-size: 11px;
}

.venta h3{
	color: #272727;
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    margin: 19px 0 0 15px;
}

.venta > .botonera{
	margin-top: 10px;
    position: relative;
}

.botonera_vta{
	bottom: 10px;
	float: right;
	position: absolute;
	right: 8px;
}

.vtaCruzadaMenu {
    padding: 0;
}

.vtaCruzadaMenu li{
	background-color: #F7F7F7;
    border: 1px solid #BCBCBC;
    color: #272727;
    float: left;
    font-family: 'ArialBlack';
    height: 22px;
    list-style: none outside none;
    padding: 6px 0 0 15px;
    width: 228px;
}

.vtaCruzadaMenu li:hover {
    border: 1px solid #FF0000;
    cursor: pointer;
}

/*----Estilo de pantalla de bloqueo correo y telefono----*/
#datosTelCorreo{
	float: left;
	margin: 79px 0 0 122px;
	width: 729px;
	height: 424px;
}

#datosTelCorreo > p{
	margin-top: 26px;
	margin-left: 87px;
}

#datosTelCorreo > div:nth-of-type(1){
	float: left;
	margin-left: 86px;
	margin-top: 24px;
}

#datosTelCorreo > div:nth-of-type(2){
	float: left;
	margin-left: 86px;
	margin-top: 24px;
}

#datosTelCorreo > span{
	float: left;
	margin-left: 86px;
	margin-top: 24px;
}

.tablaForm{
	margin: 14px 0 0 301px;
	font-family:'ArialBlack';
	font-size:11px;
}

.btnTabla{
	float: left;
	margin-left: 218px;
	margin-top: 17px;
}

/*----Estilo de pantalla de bloqueo correo y telefono----*/

/*---- Botonera en linea ( 3 botones ) ----*/

.botonera_ln{
	bottom: 0;
	float: right;
	margin-bottom: 10px;
	margin-right: 0;
	position: absolute;
	right: 0;
	width: 100%;
}


.btn_ln{

	width: 223px;
	height: 23px;
	padding-top: 7px;
	border-radius: 15px 15px 15px 15px;
	border: thin #F3F3F3 solid;
	background-color: #FFFFFF;
	color: black;
	text-align: center;
	float: right;
	margin-top: 5px;
	margin-left: 12px;
	margin-right: 15px;
	font-size: 11px;
	font-weight: bold;
	border: solid 1px #A9A9A9;
}
/*---- Fin Botonera en linea ( 3 botones ) ----*/

.cuadrop{
	float: left;
	margin-left: 10px;
	border: 1px solid red;
	width: 400px;
	height: 86px;
}



/*---- Slider ---*/
.contenedor{
	width: 76px;
	float: left;
}

.textoSim{
	margin-top: 5px;
	float: left;
	margin-left: 23px;
}

#slider {
     background-color: #E6E8E8;
     float: left;
     height: 237px;
     margin: 10px 0;
     overflow: hidden;
     width: 574px;
     margin-left: 76px;
}

.serv_in{
        height:55px;
        width:55px;
        margin:15px 0 0 10px;
        float:left;
        border-radius: 5px;
}

.serv_in:hover{
        cursor:pointer;
        border:1px red solid;

}

.rightarrow{
	float: right;
	height: 55px;
	width: 15px;
	margin-right: 6px;
	margin-top: -117px;
}

.leftarrow{
	float: left;
	height: 55px;
	width: 15px;
	margin-left: 6px;
	margin-top: -117px;
}