@import url("../../../../css/bloqueo.css");
@import url("../../../../css/steps.css");


/*--- Ocultamiento de steps ---*/
.wra_flu1 > .step3{
	display:none;
}

.wra_flu1 > .step2{
	display:none;
}
.wra_flu2{
	display:none;
}

.wra_flu3{
	display:none;
}

.wra_flu4{
	display:none;
}

.w4_AS_inputsAlta{
	display:none;
}

.step p{
	font-family:'Arial';
	font-size:11px;
	color:#272727;
}

.w4_top{
	margin-top: 10px !important;
}
.w4_espacio{
	margin-left: 39px !important;
}

.linkEditar{
	color:#ff0000 !important;
	text-decoration: none;
}


.w4_PS_consultaPS, .visor{
	display:none;
}




/*---- Estilos flujo 1 ----*/
.w4_PS_consulta{
	width:725px;
	float:left;
	text-align: 
	justify;
	/*border:1px #c7c7c7 solid;*/
	margin-left: 11px;
	margin-top: 10px;
	height: 30px;
}

.w4_PS_consulta td:nth-of-type(1){
	float: left;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 4px;

}

.w4_PS_consulta td:nth-of-type(2){
	float: left;
	margin-left: 63px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 4px;

} 

.w4_PS_consulta td:nth-of-type(3){
	float: left;
	margin-left: 73px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 4px;

}

.w4_PS_consulta td:nth-of-type(4){
	float: left;
	margin-left: 48px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 4px;

}

.w4_PS_input{
	background-color: #E8E8E8;
	border: 1px solid #A4A4A4;
	box-shadow: 1px 1px 5px #C6C6C6 inset;
	color: #A4A4A4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	margin-top: 8px;
	text-align: left;
	width: 318px;
	margin: 5px 0 0 3px;
	float:left;
}

.w4_PS_input2{
	background-color: #E8E8E8;
	border: 1px solid #A4A4A4;
	box-shadow: 1px 1px 5px #C6C6C6 inset;
	color: #A4A4A4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	margin-top: 8px;
	text-align: left;
	width: 153px;
	margin: 5px 3px 0 0px;
	float:left;
}

.w4_PS_input5 {
	width: 138px;
	height: 25px;
	background-color: #E8E8E8;
	border: 1px solid #A4A4A4;
	box-shadow: 1px 1px 5px #C6C6C6 inset;
	color: #626262;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	float: left;
}

.w4_PS_consulta td:nth-of-type(5){
	float: left;
	margin-left: 25px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 4px;

} 

.w4_PS_consulta td:nth-of-type(6){
	float: left;
	margin-left: 27px;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-top: 4px;
}

.w4_PS_cuadroTarjeta{
	width: 726px;
	height:190px; 
	overflow:scroll; 
	overflow-x: hidden;
	float: left;
	
}

.w4_PS_cardList{
	color: #626262;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	width: 705px;
	height: auto;
	border-top: none;
	float:left;
	border-collapse: separate;
	border-spacing: 0px 10px;
}

.w4_PS_cardList td{
	height:30px;
}

.w4_PS_cardList tr{
	background-color:#ffffff;
}

.w4_PS_cardList tr:hover{
	background-color:#cccccc;
	cursor: pointer;	
}	

.w4_PS_deshabilitado{
	opacity:0.5;
}

.w4_PS_cardList td:nth-of-type(2){
	width:210px;
}

.w4_PS_cardList td:nth-of-type(3),.w4_PS_cardList td:nth-of-type(4) {
	padding-left:10px;
	width:105px;
}


.w4_PS_cardList td:nth-of-type(5),.w4_PS_cardList td:nth-of-type(6),.w4_PS_cardList td:nth-of-type(7){
	padding-left:10px;
	width:103px;
}

.w4_PS_cardList td:nth-of-type(6) p{
	width:60px;
}

.w4_PS_cardList td:nth-of-type(7) p{
	width:20px;
}

.w4_PS_servicio{
	margin-left:10px;
	margin-top: 13px;
	float:left;
}

.w4_PS_servicioImg{
	margin-left:10px;
	float:left;
}

/*--- Clase imagenes ---*/

.w4_PS_servicioImg_1{
	width: 40px;
	height: 40px;
	background-image: url('../img/servicios/Servicio_1.png');
	background-size:100% 100% !important;

}
.w4_PS_servicioImg_2{
	width: 40px;
	height: 40px;
	background-image: url('../img/servicios/Servicio_4.png');
	background-size:100% 100% !important;

}
.w4_PS_servicioImg_3{
	width: 40px;
	height: 40px;
	background-image: url('../img/servicios/Servicio_8.png');
	background-size:100% 100% !important;

}
.w4_PS_servicioImg_4{
	width: 40px;
	height: 40px;
	background-image: url('../img/servicios/Servicio_5.png');
	background-size:100% 100% !important;

}	

.w4_PS_servicioPago p{ 
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	font-family:'ArialBlack';
	font-size:11px;
}

.w4_PS_consultaPS{
	width:705px;
	height: auto;
	float: left;
	
}

.w4_PS_consulta_tabla{
	color: #626262;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	width: 725px;
	height: auto;
	border-top: none;
	float:left;
	border-collapse: separate;
	border-spacing: 0px 0px;
}

.w4_PS_consulta_tabla td{
	height:30px;
}

.w4_PS_consulta_tabla tr{
	background-color:#cccccc;
}

.w4_PS_consulta_tabla td:nth-of-type(2){
	width:175px;
}

.w4_PS_consulta_tabla td:nth-of-type(3){
	padding-left:10px;
	width:105px;
}

.w4_PS_consulta_tabla td:nth-of-type(4){
	padding-left:10px;
	width: 82px;
}

.w4_PS_consulta_tabla td:nth-of-type(5){
	padding-left:10px;
	width:103px;
}

.w4_PS_consulta_tabla td:nth-of-type(6){
	padding-left:10px;
	width:103px;
}

.w4_PS_consulta_tabla td:nth-of-type(6) p{
	width:60px;
}

.w4_PS_cardList td:nth-of-type(7){
	padding-left:10px;
	width:103px;
}

.w4_PS_cardList td:nth-of-type(7) p{
	width:20px;
}

.w4_PS_contenedor h2{
	font-family: 'ArialBlack';
	font-size: 11px;
	color: #ff0000;
	margin: 10px 0 0 11px;
	float: left;
}

.w4_PS_verLista{
	width: 100px;
	height: 30px;
	background-image: url('../../../../img/assets/Btn_ver_lista.png');
	float: right;
	margin-top: 5px;
}

.w4_PS_verLista:hover{
	cursor: pointer;
}

.w4_PS_dd1{
	float:left;
	margin:5px 0 0 0;
}

.w4_PS_inputsIzq{
	float:left;
	width: 360px;
}

.w4_PS_inputsDer{
	float:left;
	width: 370px;
}

.w4_PS_contCal{
	float:left !important;
	width: 30px !important;
	height: 27px !important;
	border: 1px solid #A4A4A4;
	border-left: none;
	border-radius: 4px;
	cursor:pointer !important;
	background-color: #ffffff;
}

.w4_PS_cal{
	width: 20px;
	height:20px;
	background-image:url('../../../../img/iconos/calendario.png') !important;
	background-size:100% 100% !important;
	float: left;
	margin-left: 5px;
	margin-top: 4px;
}

.dateInputInactive{
	opacity:.3;
}

.w4_info{
	background-image: url("../../../../img/assets/info.png");
    background-size: 100% 100%;
    float: left;
    height: 20px !important;
    width: 20px !important;
    margin:10px 0 0 10px;
    cursor:pointer;
}

.infoChart{
	position: absolute;
	margin-top: -180px;
	margin-left: 354px;
	display:none;
}

.w4_PS_tablaInfo {
	position: absolute;
}


/*Alta de servicios*/
.wra_flu2{
	margin-left:0px;
	width:100%;
}

.wra_Select4, .wra_Select3{
	float:left;
	margin:5px 0 0 10px;
}


.contenidoFlujo{
	border:none;	
}

.w4_AS_slideHeader{
	width:99%;
	height:22px;
	padding:6px 0 0 10px;
	background-image:url('../img/chkbkgnd.png');
	background-size:100% 100%;
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	float:left;
	margin:10px 0 0 0;
	border:1px #c9c9c9 solid;
	position:relative
}

.w4_AS_btnaction2{
	width: 13px;
	height: 15px;
	background: url("../../../../img/botones/red_arrow_side.png");
	background-size: 100% 100%;
	cursor: pointer;
	position:absolute;
	top:7px;
	right:10px;
}

.w4_AS_btnaction{
	width: 17px;
	height: 10px;
	background: url("../../../../img/botones/red_arrow_up.png");
	background-size: 100% 100%;
	cursor: pointer;
	position:absolute;
	top:10px;
	right:10px;
}

.w4_AS_listado{
	position:relative;
	float:left;	
	height: 228px;
}

.w4_AS_listado > div:first-of-type{
	width:713px;
	height: 171px;
	border:1px #c9c9c9 solid;
	background-color: #efefef;
	float:left;
	margin-top: 2px;
}

.w4_AS_listado > div > p:first-of-type{
	font-family: 'ArialBlack';
	font-size: 11px;
	margin: 10px 0 0 20px;
	width:100%
}

.w4_AS_leftArrow{
	float:left;	
	padding-top:25px;
	margin-left:8px;
	cursor:pointer;
	width:23px;
	height:61px;
}

.w4_AS_rightArrow{
	float: left;
	padding-top: 21px;
	cursor: pointer;
	margin-left: 11px;
}

.w4_AS_servContainer{	
	width:650px;
	height:110px;
	float:left;
	overflow:hidden;
	margin-left: 30px;
}

.w4_AS_servicio {
    cursor: pointer;
    float: left;
    margin-left: 10px;
    text-align: center;
    width: 55px;
}

.w4_AS_servicio > img{
	border:1px #c7c7c7 solid;
	width:53px;
	height:53px;
	margin:10px 0 0 0px;
}

.w4_AS_servicio > img:hover{
	border: 1px #ff0000 solid;
}

.w4_AS_seleccionado{
	border: 1px #ff0000 solid !important;
}

.w4_AS_servicio p{
	font-family: 'ArialBlack';
	font-size: 11px;
	margin-left:auto !important;
	margin-right:auto !important;
	text-align:center !important;
	color:#626262 !important;
	float:left;
	width:55px;
}

.w4_AS_servSlider{
	position:absolute;	
	width:auto;
	height:110px;
	width: 2080px;
	left:33px;
}

.w4_AS_avanzada{
	display:none;
}


.w4_AS_inputsAlta{
	margin-left:5px;
	float:left;
	margin:5px 0 0 1px;
	width:713px;
	position:relative;
	height: 156px;
}

.taran{
	border:1px #c7c7c7 solid;
	width: 726px;
	height: 123px;
	margin-top: 20px;
}

.w4_AS_inputsAlta p{
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	float:left;
	font-weight:bold;
	margin-left:10px;
	margin-top:5px;
}

.w4_AS_inputsAlta span{
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	float:left;
	margin-left: 3px;
}

.w4_AS_busqueda span{
	color:#282828;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	float:left;
	margin-left: 3px;
}

.taran>div:first-of-type{
	float:left;
	width: 570px;
}

.taran>div{
	width:275px;
	float:left;
}

.taran .botonera{
	float:left;
	margin: 0 0 10px;
}

.taran .btnaceptar{
	width:143px;
	float:right;
}

.w4_AS_busqueda{
	margin-left:5px;
	float:left;
	margin:5px 0 0 1px;
	width:713px;
	position:relative;
	height: 278px;
}

.w4_AS_input{
	background-color: #E8E8E8;
	border: 1px solid #A4A4A4;
	box-shadow: 1px 1px 5px #C6C6C6 inset;
	color: #A4A4A4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	margin-top: 8px;
	text-align: center;
	width: 318px;
	margin: 5px 0 0 10px;
	float:left;
}

.w4_AS_prueba{
	width: 94px;
	height: 20px;
	float:left;
	margin-top: -21px;
	margin-left: 329px;
}

.tres{
	background-image: url("../../../../img/botones/slider.png");
    background-size: cover;
    background-position-y: 44px;
	width: 15px;
	height: 15px;
	display: inline-flex;
	margin-left: 5px;
}

.tres:hover{
	cursor: pointer;
}

.seleccionador{
	background-position-y: 61px;
}

.espacio{
	margin-right: 39px;
}

.w4_AS_contenedor{
	margin-left:5px;
	float:left;
	margin:5px 0 0 0;
	width:712px;
	position:relative;
	height:60px;
	background-color: #efefef;
}

.w4_AS_ContenedorImg {
    cursor: pointer;
    float: left;
    margin-left: 10px;
    text-align: center;
}

.w4_AS_ContenedorImg > img{
	border:1px #c7c7c7 solid;
	width:40px;
	height:40px;
	margin: 10px 0 0 10px;
}

.w4_AS_servicioSel{
	margin-left: 5px;
	background-color: #efefef;
	margin: 95px 0 0 0px;
	width: 375px;
	height: 140px;
}

.w4_AS_contenidoFlujoEspacio{
	height: 488px !important;
	background-color: red !important;
}

.w4_AS_imagenSer{
	width: 91px;
	height: 91px;
	border: 1px solid #A4A4A4;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	background-size: 100% 100%;
	background-image: url('../img/servicios/Servicio_1.png');
}

.w4_PS_input3{
	background-color: #E8E8E8;
	border: 1px solid #A4A4A4;
	box-shadow: 1px 1px 5px #C6C6C6 inset;
	color: #A4A4A4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	margin-left: 9px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 235px;
	float:left;
}

.w4_AS_servicioSel p{
	font-family: 'ArialBlack';
	font-size: 11px;
	color: #272727 !important;
	margin-left: 10px;
	margin-top: 2px;
}

.w4_AS_servicioSel ul{
	float: left;
	margin-left: -15px;
}

.w4_PS_tabla2 tr :nth-child(even){
	font-weight: bold;
}

.w4_AS_tabla{
	margin-top: 10px;
	margin-left: 40px;
	float: left;
	width: 500px;
	height: 135px;
}

.w4_AS_paso2Img{
	width: 91px;
	height: 91px;
	border: 1px solid #A4A4A4;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	background-size: 100% 100%;
	background-image: url('../img/servicios/Servicio_1.png');
}

.w4_AS_paso2{
	float: left;
	width: 376px;
	height: 115px;
	margin-top: 10px;
	margin-left: 10px;
}

.w4_PS_tabla2 table{
	width: 416px;
}

.tabla3 table{
	width: 400px;
	height: 200px;
}

.w4_btn_paso3{
	width: 170px !important;
	height: 45px !important;
	margin-left: 47px;
}

/*--- Estilos flujo 3 ---*/

.w4_CB_titTam{
	height: 95px;
}
.w4_CB_buscador{
	float: left;
	width: 100%;
	height: 60px;
}

.w4_selects{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.prueba{
	width: 160px;
	float: left;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
}

.prueba_btn{
	width: 158px;
	margin-top: 0px;
}

.w4_btn_exportar{
	margin-top: 10px;
	float: right;
}

/*--- Fin Estilos flujo 3 ---*/


/*--- Estilos flujo4 ---*/
.w4_CP_espaciado{
	width: 397px;
}
/*--- Fin Estilos flujo4 ---*/

.w4_dropList{
	margin-top: 10px;
	margin-left: 10px;
}


.w4_HPG_personalizarIntervalo{
	float:left;
	width:143px;
	height:21px;
	background-color:#FBFBFB;
	border:1px #C2C0C0 solid;
	box-shadow: 1px 1px 2px #E1E1E1;
	border-radius:5px; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#4d4d4d !important;
	font-style:italic;
	padding:7px 0 0 10px;
	position:relative;
}
.w4_HPG_personalizarIntervalo>div{
	float:right;
	border-left:1px #cfcfcf solid;
	width:24px;
	text-align:center;
	height:21px;
	position:absolute;
	top:0;
	right:0;
	padding-top:7px;	
}

.w4_HPG_personalizarIntervalo>div:hover{
	border-left:1px #ff0000 solid;	
}

.w4_HPG_personalizarIntervalo:hover{
	border-color:#ff0000;
	cursor:pointer;
}